registry=https://registry.npmjs.org
always-auth=true
email=vetrivel.mylsami@finra.org
//@fortawesome:registry=https://npm.fontawesome.com/3E5EF522-9961-437B-A3B4-06C71F2209F8
@fortawesome:registry=https://npm.fontawesome.com/
