<div class="bg-gray-900 relative flex flex-col justify-center item-center">
  <div class="bg-gray-900 p-5 flex flex-row justify-center w-[80%] m-auto">
    <div class="basis-[25%] mr-5 mb-3">
      <img class="dca-logo mb-5" src="assets/LogoWhite.png" alt="logo">
      <div class="text-white text-sm-12 w-[80%]">
        <p>
          The Node Zero community is operated by the
          <a class="text-sky-500 underline" href="https://www.datacollaboration.org/">Data Collaboration Alliance</a>, a nonprofit dedicated to a
          future
          where all data is fully-controlled by its rightful owner. We see CONTROL as the key to unlocking meaningful
          data ownership, federated problem-solving, and advancing global Collaborative Intelligence.
        </p>

        <p>
          <a class="text-sky-500 underline" href="https://www.linkedin.com/feed/hashtag/?keywords=accessnotcopies">#AccessNotCopies</a>
        </p>
      </div>
    </div>

    <div class="text-white mr-3 mb-3 text-sm-12 basis-[15%]">
      <div id="comp-khv8xjsd" class="_1Q9if" data-testid="richTextElement"><p class="font_7" style="font-size:16px;">
        <span style="color:#FFFFFF;"><span style="font-size:16px;"><span
          style="font-family:lato-light,lato,sans-serif;">WHO WE ARE</span></span></span></p>

        <p class="font_7" style="font-size:21px;"><span style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/about" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">About us</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>


        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/manifesto"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Manifesto</span></span></span></a></p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>


        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/leadership" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Leadership</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>


        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/advisors"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Advisors</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>


        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/partners"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Partners</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>


        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/faq" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">FAQs</span></span></span></a>
        </p></div>
    </div>

    <div class="basis-[15%] mr-3 mb-3 text-sm-12">
      <div id="comp-kke3n5pi" class="_2Hij5" data-testid="richTextElement"><p class="font_7"
                                                                              style="font-size:16px;">
        <span style="letter-spacing:normal;"><span style="color:#FFFFFF;"><span style="font-size:16px;"><span
          style="font-family:lato-light,lato,sans-serif;">WHAT WE DO</span></span></span></span></p>

        <p class="font_7" style="font-size:21px;"><span style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></p>

        <p class="font_7" style="font-size:15px;"><span><a
          href="https://www.datacollaboration.org/cin" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Infrastructure</span></span></span></a></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>

        <p class="font_7" style="font-size:15px;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/community" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Community</span></span></span></a></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/nodex" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Research</span></span></span></a></span>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>

        <p class="font_7" style="font-size:15px;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/zero-copy-integration" target="_self"><span style="color:#FFFFFF;">Standards</span></a></span>
        </p></div>
    </div>

    <div class="basis-[40%] flex flex-col items-start justify-start ml-1 lg:ml-6 md:ml-4 sm:ml-2">
      <span class="text-white mb-7">CONNECT ON SOCIAL</span>
    <!--  <share-buttons [theme]="'modern-light'"
                     [include]="['facebook','twitter','linkedin','email']"
                     [show]="5"
                     [showText]="false"
                     [url]="currentUrl"
      ></share-buttons>-->

      <div id="comp-k2g8ahxo" class="_2O-Ry focus-within">
        <ul class="xb9fU flex flex-row flex-wrap gap-6" aria-label="Social Bar">
          <li id="dataItem-k2g8ahza2-comp-k2g8ahxo" class="_3lu8e focus-within"><a data-testid="linkElement"
                                                                                   href="https://www.linkedin.com/company/data-collaboration-alliance/"
                                                                                   target="_blank"
                                                                                   class="_26AQd focus-within">
            <div id="img_0_comp-k2g8ahxo" class="_1-6YJ uWpzU"
                       data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahza2-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;f61c7a3b4b4947b28511a25034973383.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                       data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
                       data-image-zoomed="" data-has-ssr-src=""
                       data-src="https://static.wixstatic.com/media/f61c7a3b4b4947b28511a25034973383.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/f61c7a3b4b4947b28511a25034973383.webp">
              <img
                src="https://static.wixstatic.com/media/f61c7a3b4b4947b28511a25034973383.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/f61c7a3b4b4947b28511a25034973383.webp"
                alt="LinkedIn - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
            </div>
          </a></li>
          <li id="dataItem-k2g8ahza-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                     href="https://twitter.com/datacollab"
                                                                     target="_blank" class="_26AQd">
            <div id="img_1_comp-k2g8ahxo" class="_1-6YJ uWpzU"
                       data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahza-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;c4392d634a0148fda8b7b2b0ad98293b.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                       data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
                       data-image-zoomed="" data-has-ssr-src=""
                       data-src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.webp">
              <img
                src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.webp"
                alt="Twitter - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
            </div>
          </a></li>
          <li id="dataItem-ke4qgxyz-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                     href="https://www.youtube.com/channel/UCjgorj6y-Va9iWUkOK35vaA/"
                                                                     target="_blank" class="_26AQd">
            <div id="img_2_comp-k2g8ahxo" class="_1-6YJ uWpzU"
                       data-image-info="{&quot;containerId&quot;:&quot;dataItem-ke4qgxyz-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e9bb463a1bc4434c9d33b81b1fe937f5.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                       data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
                       data-image-zoomed="" data-has-ssr-src=""
                       data-src="https://static.wixstatic.com/media/e9bb463a1bc4434c9d33b81b1fe937f5.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e9bb463a1bc4434c9d33b81b1fe937f5.webp">
              <img
                src="https://static.wixstatic.com/media/e9bb463a1bc4434c9d33b81b1fe937f5.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e9bb463a1bc4434c9d33b81b1fe937f5.webp"
                alt="YouTube" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%"></div>
          </a></li>
          <li id="dataItem-k2g8ahz9-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                     href="https://www.facebook.com/datacollaboration"
                                                                     target="_blank" class="_26AQd">
            <div id="img_3_comp-k2g8ahxo" class="_1-6YJ uWpzU"
                       data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahz9-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e0678ef25486466ba65ef6ad47b559e1.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                       data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
                       data-image-zoomed="" data-has-ssr-src=""
                       data-src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp">
              <img
                src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp"
                alt="Facebook - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
            </div>
          </a></li>
          <li id="dataItem-ke4qgxyy-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                     href="https://www.instagram.com/datacollab/"
                                                                     target="_blank" class="_26AQd">
            <div id="img_4_comp-k2g8ahxo" class="_1-6YJ uWpzU"
                       data-image-info="{&quot;containerId&quot;:&quot;dataItem-ke4qgxyy-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;da7ef6dd1302486c9a67baebe4b364bc.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                       data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
                       data-image-zoomed="" data-has-ssr-src=""
                       data-src="https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp">
              <img
                src="https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp"
                alt="Instagram" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%"></div>
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-gray-900 flex flex-row justify-center item-center">
    <div class="text-sm-12 text-gray-300 p-4">
      <p>© Data Collaboration Alliance 2021. All rights reserved.</p>

      <!--  <p>Toronto | Ontario | Canada</p>-->
    </div>
  </div>

  <hr>

  <div *ngIf="false" class="text-white flex flex-row p-5 justify-center items-center">
    <div id="comp-kk4925ob" aria-disabled="false" class="mr-6 mr-5"><a data-testid="linkElement"
                                                                       href="https://www.datacollaboration.org/press"
                                                                       target="_self" class="_6lnTT"
                                                                       aria-disabled="false"><span
      class="wQYUw">Site Map</span></a></div>

    <div id="comp-khqvkqtu" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                  href="mailto:info@datacollaboration.org?subject=Inquiry from website"
                                                                  target="_self" class="_6lnTT"
                                                                  aria-disabled="false"><span
      class="wQYUw">info@datacollaboration.org</span></a></div>

    <div id="comp-kdsyjyia" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                  href="https://www.datacollaboration.org/press"
                                                                  target="_self" class="_6lnTT"
                                                                  aria-disabled="false"><span
      class="wQYUw">Press Kit</span></a></div>

    <div id="comp-kdsygg7q" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                  href="https://www.datacollaboration.org/privacy"
                                                                  target="_self" class="_6lnTT"
                                                                  aria-disabled="false"><span
      class="wQYUw">Privacy Policy</span></a></div>

    <div id="comp-kdsyg498" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                  href="https://www.datacollaboration.org/contact"
                                                                  target="_self" class="_6lnTT"
                                                                  aria-disabled="false"><span
      class="wQYUw">Contact</span></a></div>
  </div>
</div>
