<div class="h-20 relative mt-4 flex flex-col justify-center item-center">
  <div class="flex flex-row p-3 flex-wrap items-center justify-center bg-yellow-400 h-16 shadow-normal">
    <span class="mr-3 mb-0 text-lg">For more content and awesome stuff</span>
    <p-button icon="pi pi-bell" class="p-button-raised" label="JOIN FREE"></p-button>
  </div>

  <div class="bg-gray-900 flex flex-row justify-center item-center">
    <div class="text-sm-12 text-gray-300 p-4">
      <p>© Data Collaboration Alliance 2021. All rights reserved.</p>

      <p>Toronto | Ontario | Canada</p>
    </div>
  </div>
</div>
