<div class="bg-gray-900 relative flex flex-col justify-center item-center">
  <div class="bg-gray-900 p-5 flex flex-row justify-center w-[80%] m-auto">
    <div class="basis-[25%] mr-5 mb-3">
      <img class="dca-logo mb-5" src="assets/LogoWhite.png" alt="logo">
      <div class="text-white text-sm-12 w-[80%]">
        <p>
          The Data Collaboration Alliance (DCA) is a nonprofit dedicated to a future where all data is fully-controlled
          by
          its rightful owner.
        </p>

        <p>
          We see CONTROL as the key to unlocking meaningful data ownership, federated problem-solving, and advancing
          global Collaborative Intelligence.
        </p>
      </div>
    </div>

    <div class="text-white mr-3 mb-3 text-sm-12 basis-[15%]">
      <div id="comp-khv8xjsd" class="_1Q9if" data-testid="richTextElement"><p class="font_7" style="font-size:16px;">
        <span style="color:#FFFFFF;"><span style="font-size:16px;"><span
          style="font-family:lato-light,lato,sans-serif;">WHO WE ARE</span></span></span></p>

        <p class="font_7" style="font-size:21px;"><span style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/about" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">About us</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/manifesto"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Manifesto</span></span></span></a></p>

        <p class="font_7" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/leadership" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Leadership</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/advisors"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Advisors</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/partners"
                                                     target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Partners</span></span></span></a>
        </p>

        <p class="font_7" style="font-size:15px;"><span style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></p>

        <p class="font_7" style="font-size:15px;"><a href="https://www.datacollaboration.org/faq" target="_self"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">FAQs</span></span></span></a>
        </p></div>
    </div>

    <div class="basis-[15%] mr-3 mb-3 text-sm-12">
      <div id="comp-kke3n5pi" class="_2Hij5" data-testid="richTextElement"><p class="font_7"
                                                                              style="font-size:16px; line-height:normal;">
        <span style="letter-spacing:normal;"><span style="color:#FFFFFF;"><span style="font-size:16px;"><span
          style="font-family:lato-light,lato,sans-serif;">WHAT WE DO</span></span></span></span></p>

        <p class="font_7" style="line-height:normal; font-size:21px;"><span style="letter-spacing:normal;"><span
          style="font-family:lato-light,lato,sans-serif;"><span class="wixGuard">&ZeroWidthSpace;</span></span></span>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/cin" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Infrastructure</span></span></span></a></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;">&nbsp;</p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/community" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;">Community</span></span></span></a></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/nodex" target="_self"><span style="font-size:15px;"><span
          style="color:#FFFFFF;"><span style="font-family:lato-light,lato,sans-serif;">Research</span></span></span></a></span>
        </p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><span
          style="font-size:15px;"><span style="color:#FFFFFF;"><span
          style="font-family:lato-light,lato,sans-serif;"><span
          class="wixGuard">&ZeroWidthSpace;</span></span></span></span></span></p>

        <p class="font_7" style="font-size:15px; line-height:normal;"><span style="letter-spacing:normal;"><a
          href="https://www.datacollaboration.org/zero-copy-integration" target="_self"><span style="color:#FFFFFF;">Standards</span></a></span>
        </p></div>
    </div>

    <div class="basis-[40%] flex flex-col items-center">
      <span class="text-white mb-5">SHARE ON SOCIAL</span>
      <share-buttons [theme]="'modern-light'"
                     [include]="['facebook','twitter','linkedin','email']"
                     [show]="5"
                     [showText]="false"
                     [url]="currentUrl"
      ></share-buttons>
    </div>
  </div>

  <div class="bg-gray-900 flex flex-row justify-center item-center">
    <div class="text-sm-12 text-gray-300 p-4">
      <p>© Data Collaboration Alliance 2021. All rights reserved.</p>

      <!--  <p>Toronto | Ontario | Canada</p>-->
    </div>
  </div>

  <hr>

  <div class="text-white flex flex-row p-5 justify-center items-center">
    <div id="comp-kk4925ob" aria-disabled="false" class="mr-6 mr-5"><a data-testid="linkElement"
                                                                    href="https://www.datacollaboration.org/press"
                                                                    target="_self" class="_6lnTT" aria-disabled="false"><span
      class="wQYUw">Site Map</span></a></div>

    <div id="comp-khqvkqtu" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                    href="mailto:info@datacollaboration.org?subject=Inquiry from website"
                                                                    target="_self" class="_6lnTT" aria-disabled="false"><span
      class="wQYUw">info@datacollaboration.org</span></a></div>

    <div id="comp-kdsyjyia" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                    href="https://www.datacollaboration.org/press"
                                                                    target="_self" class="_6lnTT" aria-disabled="false"><span
      class="wQYUw">Press Kit</span></a></div>

    <div id="comp-kdsygg7q" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                    href="https://www.datacollaboration.org/privacy"
                                                                    target="_self" class="_6lnTT" aria-disabled="false"><span
      class="wQYUw">Privacy Policy</span></a></div>

    <div id="comp-kdsyg498" aria-disabled="false" class="mr-6"><a data-testid="linkElement"
                                                                    href="https://www.datacollaboration.org/contact"
                                                                    target="_self" class="_6lnTT" aria-disabled="false"><span
      class="wQYUw">Contact</span></a></div>
  </div>
</div>
