<section class="dca-header fixed w-full">
  <div class="relative">
    <div class="dca-header--container flex flex-row justify-between items-center">
      <img class="dca-logo cursor-pointer" src="assets/LogoWhite.png" alt="logo" (click)="goToHome()">
      <img class="h-[250px] hidden md:block lg:block item-center-n-relative" src="assets/nodeLogo.png" alt="banner">


      <div class="pr-5">
        <p-button icon="pi pi-bell" class="btn-color p-button-raised" label="LOGIN" (click)="login()"></p-button>
      </div>
    </div>
  </div>
</section>
