<section>
  <div class="flex flex-row flex-wrap items-center justify-between gap-4 pl-4 pr-4">
    <app-search-by-autocomplete *ngIf="childFilteredData?.length && tags && selectedOption" class="inherit-width "
                                [searchByOptions]="searchByOptions"
                                [allDataForOptions]="childFilteredData"
                                [tagsData]="tags"
                                [resetOnChange]="true"
                                (optionClicked)="itemSelectedInDropdown($event)"
                                (searchBySelected)="searchBySelected($event)"
                                (resetAll)="resetChild()"
                                (itemSearched)="itemSearched($event)">
    </app-search-by-autocomplete>

    <div class="flex flex-row flex-wrap gap-3 items-center">
      <div class="flex flex-row flex-wrap gap-2 items-center">
        <p-radioButton inputId="all" name="groupname" value="" [(ngModel)]="selectedType"
                       (onClick)="radioOptionClicked()"></p-radioButton>
        <label for="all">All</label>

        <p-radioButton inputId="active" name="groupname" value="Active" [(ngModel)]="selectedType"
                       (onClick)="radioOptionClicked()"></p-radioButton>
        <label for="active">Active</label>

        <p-radioButton inputId="pending" name="groupname" value="Pending" [(ngModel)]="selectedType"
                       (onClick)="radioOptionClicked()"></p-radioButton>
        <label for="pending">Pending</label>
      </div>
    </div>

    <div *ngIf="bannerDetails?.length && bannerDetails[0]['LawsContributeLabel']" class="flex flex-row items-center gap-2">
      <span class="text-sm-12 font-semibold" [innerHTML]="bannerDetails[0]['LawsContributeLabel']"></span>
      <p-button iconPos="right" class="btn-color-green p-button-raised mr-2" [label]="bannerDetails[0]['LawsButtonLabel']"
                (click)="joinFree()">
      </p-button>
    </div>
  </div>

  <section class="p-4 mt-2 md:grid-cols-2 lg:grid-cols-2 grid-cols-1 auto-rows-fr grid gap-2"
           *ngIf="paginatedLegislationData?.length; else noMessage">
    <div class="mb-3 basis-[49%] mr-2 font-light" *ngFor="let item of paginatedLegislationData">
      <p-card>
        <ng-template pTemplate="header">
          <div class="pl-4">
            <div class="flex pr-4 flex-row justify-between items-center">
              <a rel="noopener" role="link" [href]="item['Law Url']" target="_blank"
                 class="pt-2 text-lg font-bold text-cyan-700">{{item.Law}}
              </a>
            </div>
            <p class="text-sm-12 text-gray-700 font-semibold">{{item['Full Citation']}}</p>
            <p class="text-sm-12 text-gray-700">{{item['Summary']}}</p>
          </div>

          <div class="flex flex-row flex-wrap gap-1 pt-1 pl-4 text-sm-12 text-gray-700">
            <ng-container *ngFor="let tag of item['tags']">
              <p-chip class="mr-2" [label]="tag" styleClass="p-1 custom-chip"></p-chip>
            </ng-container>
          </div>
        </ng-template>

        <div class="flex flex-wrap p-2 pl-4 justify-start">
          <div class="flex flex-col lg:basis-[23%] md:basis-[30%] basis-[45%] mr-4 md:mr-2 lg:mr-2"
               *ngFor="let key of allKeys">
            <ng-container>
              <span class="font-sans mr-1 text-sm-12 text-black">{{key}}: </span>
              <span class="font-sans text-sm-12 mb-2 text-gray-500" *ngIf="key !== 'Enforcers'"
                    [ngClass]="{'text-blue-600' : key === 'Law'}"
                    [innerHTML]="key === 'Passed' ? (item[key] | date: 'yyyy') : item[key] || '-'">
          </span>
              <span class="cursor-pointer font-sans text-sky-500 text-sm-12 mb-2" *ngIf="key === 'Enforcers'"
                    [innerHTML]="item[key]" (click)="goToRegulator(item['Enforcers-Id'])">
              </span>
            </ng-container>
          </div>
        </div>

        <div class="pl-4 pb-2">
          <p class="text-sm font-semibold">Actions</p>
          <div class="flex flex-row flex-wrap gap-3">
            <a role="link" [href]="item['Edit']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
              Contribute
            </a>

            <a role="link" [href]="item['Law Url']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
              Website
            </a>

            <a *ngIf="item['Share']" [href]="item['Share'] + ' ' + item['Edit']" target="_blank"
               class="pt-0 text-sm-12 text-sky-500">
              Share
            </a>

            <a *ngIf="item['Bookmark']" role="link" [href]="item['Bookmark']" target="_blank"
               class="pt-0 text-sm-12 text-sky-500">
              Bookmark
            </a>
          </div>
        </div>
      </p-card>
    </div>
  </section>

  <ng-template #noMessage>
    <div class="flex flex-row justify-start gap-2 items-center">
      <h1 class="pl-4 text-red-700">No Law found for this search criteria. Do you want to contribute?</h1>

      <button pButton type="button" label="Contribute" class="p-button-text" (click)="joinFree()"></button>
    </div>
  </ng-template>

  <p-paginator [pageLinkSize]="3" *ngIf="filteredLegislationData?.length" [rows]="pageSize"
               [totalRecords]="filteredLegislationData.length"
               [alwaysShow]="false"
               (onPageChange)="paginate($event)">
  </p-paginator>

</section>
