<section class="banner">
  <div class="banner__content">
    <div class="banner__background">
      <img class="banner__background" alt="Node Zero Image" src="assets/background.png">
    </div>

    <div class="banner-content" *ngIf="toolDetails">
      <div class="banner-content__inner">
        <div class="banner-content--text flex items-center gap-4">
          <h1 class="text-3xl font-bold">{{toolDetails.toolName || toolDetails.title}}</h1>
       <!--   <div
            class="text-white bg-[#00b529] h-[58px] w-[58px] border-[3px] p-2 rounded-[50%]
           border-[#00b529] flex flex-col items-center justify-start cursor-pointer" (click)="goToFeedback()">
            <p class="text-sm-12 mb-0">BETA</p>
            <sub class="mt-0">feedback</sub>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>
