<section class="banner bg-color default-radius" *ngIf="toolDetails">
    <div class="banner__content flex flex-wrap justify-between items-center p-8 pl-[50px] h-full">
        <div>
            <p class="text-white font-bold mb-2">{{toolDetails.subTitle || 'PRIVACY'}}</p>
            <h1 class="text-4xl font-semibold text-white">{{toolDetails.toolName || toolDetails.title}}</h1>
        </div>

        <p-button *ngIf="toolDetails.contributorButtonLabel" class="h-[45px] btn-color-transparent p-button-raised p-button-rounded"
                  [label]="toolDetails.contributorButtonLabel || 'Become a contributor'"
        (click)="goToBecomeContributor()">
        </p-button>
    </div>
</section>


<section class="bg-gray-100" *ngIf="sponsors">
    <div class="banner__content flex flex-wrap justify-between items-center p-8 pl-[50px] h-full">
        <div>
            <p class="font-bold mb-3">{{toolDetails.sponsor || 'SPONSORS'}}</p>

            <div class="flex flex-wrap gap-10">
                <div class="flex items-center justify-center bg-white shadow-sm items-center cursor-pointer border-[1px]
                 border-solid border-slate-100 rounded-lg h-[128px] w-[200px]"
                     (click)="goToDetails(item)" *ngFor="let item of sponsors">
                    <img class="gap-5 content-gray h-[100%]" [src]="item.logoImage" [alt]="item.name">
                </div>
            </div>
        </div>
    </div>
</section>
