<div class="default-border">
  <div #promoDiv class="banner-container w-full">
    <app-hero-banner [webSiteDetails]="webSiteDetails"></app-hero-banner>
  </div>

  <div class="key-issues-container flex w-100% m-auto">

    <div class="show-in-medium-large mr-4 pl-4 pb-8 w-full mt-10">
      <p-sidebar *ngIf="keyIssues" [(visible)]="display"
                 [modal]="false" [style]="{width:'450px'}">
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
      </p-sidebar>
    </div>

    <div class="mr-4 p-10 show-in-medium-large">
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </div>

    <div class="mr-1 p-10 w-full show-in-small">
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </div>
  </div>

</div>

<ng-template #sidebarContent>
  <div class="mr-4 pl-4 pb-8 mt-10">
    <p class="text-[24px]">Key Issues</p>
    <p-divider></p-divider>
    <div *ngFor="let issue of keyIssues">
      <ng-container>
        <p class="border-solid cursor-pointer border-b p-1 mr-2 text-sm-12 font-light text-sky-600"
           (click)="navigateToKeyIssues(issue)">
          {{issue.title}}
        </p>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #mainContent>
  <div *ngIf="defaultView">
    <div class="mb-12">
      <p-button class="btn-color-green p-button-raised mt-5"
                (click)="navigateToLegislation()">BACK TO  LAW
      </p-button>
      <p-divider></p-divider>
      <p class="text-[40px] text-sky-900 text-center mb-1 font-semibold">{{currentLegislation}}</p>
      <p class="text-[32px] text-center mb-1 font-semibold">Key Issues</p>
      <p-divider></p-divider>
    </div>

    <div class="mb-4" *ngIf="keyIssues">
      <p>{{keyIssues[0].keyIssueDesc}}</p>
    </div>

    <div *ngFor="let issue of keyIssues">
      <ng-container>
        <p class="border-solid cursor-pointer border-b p-1 mr-2 text-sm-12 font-light text-sky-600"
           (click)="navigateToKeyIssues(issue)">
          {{issue.title}}
        </p>
      </ng-container>
    </div>
  </div>

  <div class="mb-5" *ngIf="!defaultView && currentKeyIssue">
    <div class="flex flex-row justify-between">
      <p-button class="btn-color-green p-button-raised"
                (click)="navigateToLegislation()">BACK TO  LAW
      </p-button>
      <p-button class="btn-color-green p-button-raised" (click)="goToAllIssues()">All Key Issues</p-button>
    </div>
    <p-divider></p-divider>
    <p class="text-[40px] text-sky-900 text-center mb-1 font-semibold">{{currentLegislation}}</p>
    <p class="text-[32px] text-center mb-1 font-semibold">{{currentKeyIssue.title}}</p>
    <p-divider></p-divider>
    <p class="mt-[50px]">{{currentKeyIssue.desc}}</p>
  </div>

</ng-template>
