<!--<app-header></app-header>-->
<section class="default-border flex w-full justify-center flex-col home-container">

  <div class="video">
    <!--
        <app-video-banner *ngIf="bannerDetailsPerRoute" [bannerDetails]="bannerDetailsPerRoute" class="basis-[50%]"></app-video-banner>
    -->
    <app-hero-banner *ngIf="toolDetails" [toolDetails]="toolDetails"></app-hero-banner>

  </div>

  <p-tabMenu [model]="items" [activeItem]="items[1]">></p-tabMenu>

  <ng-container *ngIf="currentTab === 'overview'">
    <app-video-overview class="mt-5" [toolId]="'tool-privacy-law-navigator'"></app-video-overview>
  </ng-container>

  <ng-container *ngIf="currentTab === 'tool'">
    <div class="flex justify-end">
      <span class="pl-4 pr-4 pt-2 font-sans text-sky-500 cursor-pointer text-sm-12 mb-2" *ngIf="currentLaw"
            (click)="showAllLaws()">See all Laws
     </span>
    </div>

    <div class="p-4 relative flex flex-col justify-center" *ngIf="legislationData?.length && !currentLaw">
      <app-search-by-autocomplete *ngIf="legislationData?.length" [searchByOptions]="searchByOptions"
                                  class="inherit-width"
                                  [allDataForOptions]="legislationData"
                                  [global]="true"
                                  [showSearchButton]="true"
                                  [preSelectedSearchBy]="searchByOptions[0]"
                                  [placeholderOverride]="'Search by Country or Region'"
                                  [hideSearchByOptions]="true"
                                  (optionClicked)="itemSelectedInDropdown($event)"
                                  (searchBySelected)="searchBySelected($event)"
                                  (itemSearched)="itemSearched($event)"
                                  (resetAll)="reset()">
      </app-search-by-autocomplete>


      <div class="flex flex-wrap gap-2.5 mt-3">
        <div *ngFor="let tag of top20Tags" (click)="topTagSelected(tag)">
          <p-chip class="cursor-pointer" [ngClass]="{'selected-chip': isSelectedFilter(tag)}"
                  [label]="tag.Tags"></p-chip>
        </div>
      </div>

      <p-progressSpinner class="item-center-n-relative"
                         *ngIf="!(legislationData?.length || showError)">
      </p-progressSpinner>
    </div>


    <div *ngIf="legislationData?.length" class="">
      <p-panel header="Laws">
        <app-laws [selectedOption]="selectedOption" [legislationData]="legislationData"
                  [isCountrySelected]="!!countrySelected"
                  [countrySearchVal]="countrySelected"
                  [bannerDetails]="bannerDetails"
                  [currentLaw]="currentLaw"
                  [tags]="tags"
                  (resetTags)="resetTags()">
        </app-laws>
      </p-panel>
    </div>
  </ng-container>

  <ng-container *ngIf="currentTab === 'feedback'">
    <app-hub-form class="p-4" [formId]="'tools'" [buttonLabel]="'Submit'"
                  [existingDetails]="{'tool': toolId}"
                  [updateWithHiddenOrDisabledFields]="true"
                  [successMessage]="'Your feedback has been submitted'"></app-hub-form>
  </ng-container>
</section>
