<section class="flex w-full bg-cyan-50 justify-center flex-col home-container">

  <div class="video">
    <app-video-banner *ngIf="bannerDetails" [bannerDetails]="bannerDetails[0]" class="basis-[50%]"></app-video-banner>
  </div>

  <div class="flex flex-row p-3 flex-wrap items-center justify-center bg-cyan-200 shadow-normal" *ngIf="false">
    <app-avatars *ngIf="bannerDetails" [bannerDetails]="bannerDetails[0]" [avatars]="avatars" [size]="'large'" class="w-[100%]"></app-avatars>
  </div>

  <div class="p-4 relative flex flex-row justify-center">
    <app-search-by-autocomplete *ngIf="legislationData?.length" [searchByOptions]="searchByOptions"
                                class="inherit-width"
                                [allDataForOptions]="legislationData"
                                [global]="true"
                                [showSearchButton]="true"
                                [preSelectedSearchBy]="searchByOptions[0]"
                                [placeholderOverride]="'Search by Country or Region'"
                                [hideSearchByOptions]="true"
                                (optionClicked)="itemSelectedInDropdown($event)"
                                (searchBySelected)="searchBySelected($event)"
                                (itemSearched)="itemSearched($event)"
                                (resetAll)="reset()">
    </app-search-by-autocomplete>

    <p-progressSpinner class="item-center-n-relative"
                       *ngIf="!(legislationData?.length && (newsAndPodcastsData?.length || showError))">
    </p-progressSpinner>
  </div>


  <div *ngIf="legislationData?.length" class="p-4 pt-0">
    <p-accordion [multiple]="true" expandIcon="pi pi-fw pi-plus" collapseIcon="pi pi-fw pi-minus">
      <p-accordionTab [selected]="true">
        <ng-template pTemplate="header"><span class="text-cyan-900">News and Podcasts</span></ng-template>
        <ng-template pTemplate="content">
          <ng-container *ngIf="newsAndPodcastsData?.length">

            <app-news-feed [selectedOption]="selectedOption" [newsFeed]="newsAndPodcastsData"
                           [tags]="tags"></app-news-feed>
          </ng-container>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab [selected]="true">
        <ng-template pTemplate="header"><span class="text-cyan-900">Regulators</span></ng-template>
        <ng-template pTemplate="content">
          <ng-container *ngIf="regulatorData?.length">
            <app-regulators [selectedOption]="selectedOption" [regulatorData]="regulatorData">
            </app-regulators>
          </ng-container>
        </ng-template>
      </p-accordionTab>

      <p-accordionTab [selected]="true">
        <ng-template pTemplate="header"><span class="text-cyan-900">Laws</span></ng-template>
        <ng-template pTemplate="content">
          <app-laws [selectedOption]="selectedOption" [legislationData]="legislationData"
                    [isCountrySelected]="!!countrySelected"
                    [bannerDetails]="bannerDetails"
                    [tags]="tags">
          </app-laws>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
