<section class="flex w-full justify-center flex-col home-container">
  <div class="flex flex-row justify-around bg-gray-900 video-container">
    <div class="video">
      <app-video-banner></app-video-banner>
    </div>
  </div>

  <div class="flex flex-row flex-wrap items-center justify-center bg-yellow-400 h-16 shadow-normal">
    <span class="mr-3 text-lg">For more content and awesome stuff</span>
    <p-button icon="pi pi-bell" class="p-button-raised" label="JOIN FREE"></p-button>
  </div>

  <div class="p-4 relative">
    <div class="flex flex-col items-center justify-between">
      <div class="flex flex-row gap-1">
        <p-selectButton [options]="searchByOptions" [(ngModel)]="selectedSearchBy" optionLabel="name"
                        (onOptionClick)="searchByClicked($event)">
        </p-selectButton>

        <div class="flex flex-row gap-1 items-center" *ngIf="showRegion && dropdownOptionStr">
          <p-selectButton [options]="regionSearchBy" [(ngModel)]="selectedRegionSearchBy" optionLabel="name"
                          (onOptionClick)="searchByClicked($event)">
          </p-selectButton>
          <span *ngIf="countrySelected" class="text-sm-12">
          (Of {{countrySelected}})
        </span>
        </div>
      </div>

      <div *ngIf="selectedSearchBy && autoCompleteOptions?.length" class="flex-col mt-2 flex">
        <p-autoComplete
          [(ngModel)]="legislationVal" [suggestions]="filteredAutoCompleteOptions"
          (completeMethod)="filterAutoCompleteOptions($event)" [field]="selectedOption.name"
          (onSelect)="itemSelected($event)"
          (onClear)="reset()"
          (onKeyUp)="search($event)"
          [dropdown]="true"
          [placeholder]="'Search for' + ' ' + placeholderForSearch">
        </p-autoComplete>
      </div>
    </div>
  </div>

  <div *ngIf="filteredLegislationData?.length">
    <app-laws class="p-4 mt-2 grid-cols-2 auto-rows-fr grid gap-2"
              [allKeys]="allKeys" [legislationData]="paginatedLegislationData">
    </app-laws>
  </div>

  <p-paginator *ngIf="filteredLegislationData?.length" [rows]="pageSize" [totalRecords]="filteredLegislationData.length"
               (onPageChange)="paginate($event)">
  </p-paginator>
</section>
