<div class="flex justify-between items-center mb-4">
  <div class="lg:basis-[70%] md:basis-[100%] sm:basis-[100%]">
    <h1 class="text-[3rem] font-bold" [innerHTML]="headerDetails.header"></h1>

    <p class="text-gray-700" [innerHTML]="headerDetails.description">
    </p>

    <div class="flex flex-wrap gap-5">
      <ng-container *ngFor="let count of totalButtonsArray;let i = index">
        <div class="mt-4" *ngIf="headerDetails['buttonText' + '-' + (i+1)]">
          <p-button icon="pi pi-sign-in" iconPos="right" class="btn-color-green p-button-raised p-button-rounded"
                    [label]="headerDetails['buttonText' + '-' + (i+1)]"
                    (click)="goToDetails(headerDetails['buttonLink' + '-' + (i+1)])">
          </p-button>
        </div>
      </ng-container>
    </div>
  </div>

<!--
  <img class="sm:hidden md:hidden lg:block hidden h-[100px] lg:h-[250px]" [src]="headerDetails.image" alt="Tools">
-->
  <div class="sm:hidden md:hidden lg:block hidden" style="color: #4a0cd9;">
    <fa-icon *ngIf="headerDetails.faIcon" class="fa-7x" [icon]="getIcon(headerDetails)"></fa-icon>
  </div>
</div>
