<div class="pipps-container bg-sky-100 h-[100%] flex flex-col" #ppips>

  <div class="banner fixed w-full">
    <div class="banner__content">
      <div class="banner__background">
        <img class="banner__background" alt="Node Zero Image" src="assets/background.png">
      </div>

      <div class="banner-content">
        <div class="banner-content__inner">
          <div class="banner-content--text">
            <h1 class="text-2xl font-bold">PRIVACY LEGISLATION</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pipps-container-content flex flex-row">
    <p-sidebar *ngIf="currentLegislationData" [(visible)]="display" [modal]="false" [style]="{width:'450px'}">
      <div class="w-full">
        <p-dropdown class="w-full text-center p-2"
                    [options]="legislation" [(ngModel)]="selectedLegislation" optionLabel="name"
                    (onChange)="legislationChanged($event)">
        </p-dropdown>

        <div class="w-full">
          <ng-container *ngFor="let section of allSections | keyvalue; let i = index">
            <p-panel [toggleable]="true" [collapsed]="i !== currentOpenSection">

              <ng-template pTemplate="header">
                <div class="flex flex-col">
                  <p class="text-xs font-light">{{section.key}}</p>
                  <p class="text-xs font-semibold">{{getCategory(section)}}</p>
                </div>
              </ng-template>

              <div class="pl-4">
                <div class="border-solid border-b p-1 cursor-pointer" *ngFor="let item of section.value">
                  <p class="text-sm-12 font-light text-blue-900" (click)="goToArticle(item)">
                    Article {{item.article}}</p>
                </div>
              </div>
            </p-panel>
          </ng-container>
        </div>
      </div>

    </p-sidebar>

    <div class="ml-[450px] mr-4 pl-4 pb-8 w-full mt-10">
      <div *ngIf="showIndexPage" class="flex flex-col">
        <p-card class="w-[80%] m-auto">
          <div class="pl-[50px] p-5">
            <h1 class="text-[32px] text-cyan-700 mb-10 text-center">{{this.currentLegislation}}</h1>
            <p class="text-[28px] mb-10 font-semibold">Quick Access</p>
            <ng-container *ngFor="let section of allSections | keyvalue; let i = index">
              <div>
                <div class="flex flex-row gap-2">
                  <p class="text-sm font-light">{{section.key}}: </p>
                  <p class="text-sm font-semibold">{{getCategory(section)}}</p>
                </div>
              </div>

              <div class="pl-2 mb-4 flex flex-row flex-wrap gap-2">
                <div class="border-solid border-b p-1 cursor-pointer" *ngFor="let item of section.value">
                  <p class="text-sm-12 font-light text-blue-900" (click)="goToArticle(item)">
                    Article {{item.article}}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </p-card>
      </div>

      <div *ngIf="currentArticle && !showIndexPage" class="w-[80%] m-auto flex flex-col">
        <p class="text-sm text-sky-500 mb-4 pl-4 self-end cursor-pointer"
           (click)="legislationChanged({value: {code: this.currentLegislation}})">Go to Quick Access</p>
        <p-card class="">
          <div class="p-5 w-full">
            <h1 class="text-3xl text-center font-bold">Article: {{currentArticle.article}}</h1>
            <p-divider></p-divider>
            <div class="mt-8 pl-2">
              <p class="whitespace-pre-wrap" [innerHTML]="currentArticle.details"></p>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
