<div class="pipps-container bg-sky-100 h-[100%] flex flex-col" [ngClass]="{'pd-top-scroll': !fixed}" #ppips>

  <div #promoDiv class="banner mt-[70px] w-full">
    <div class="banner__content">
      <div class="banner__background">
        <img class="banner__background" alt="Node Zero Image" src="assets/background.png">
      </div>

      <div class="cursor-pointer show-in-small absolute right-2 top-2">
        <button pButton type="button" icon="pi pi-bars" iconPos="left"
                (click)="toggleSidebar()">
        </button>
      </div>
      <div class="banner-content" *ngIf="webSiteDetails">
        <div class="banner-content__inner">
          <div class="banner-content--text flex items-center gap-4">
            <h1 class="text-3xl font-bold">{{webSiteDetails.heroHeader}}</h1>
            <div
              class="text-white bg-[#00b529] h-[58px] w-[58px] border-[3px] p-2 rounded-[50%]
           border-[#00b529] flex flex-col items-center justify-start">
              <p class="text-sm-12 mb-0">BETA</p>
              <sub class="mt-0">feedback</sub>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pipps-container-content flex flex-row">

    <p-progressSpinner class="item-center-n-relative"
                       *ngIf="!(currentLegislationData?.length && (currentLegislationData?.length))">
    </p-progressSpinner>

    <div class="show-in-medium-large">
      <p-sidebar #snav *ngIf="currentLegislationData" [(visible)]="display"
                 [modal]="false" [style]="{width:'450px'}">
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
      </p-sidebar>
    </div>

    <div class=show-in-small>
      <p-sidebar *ngIf="currentLegislationData" [modal]="false"
                 [(visible)]="display" [style]="{width:'100%'}">
        <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
      </p-sidebar>
    </div>

    <div #snavContent class="ml-[450px] mr-4 pl-4 pb-8 w-full mt-10 show-in-medium-large">
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </div>

    <div class="mr-1 pl-1 pb-8 w-full mt-10 show-in-small">
      <ng-container *ngTemplateOutlet="mainContent"></ng-container>
    </div>

  </div>
</div>


<ng-template #sidebarContent>
  <div class="w-full" *ngIf="display">
    <p-dropdown class="w-full text-center p-2"
                [options]="legislation" [(ngModel)]="selectedLegislation" optionLabel="name"
                (onChange)="legislationChanged($event)">
    </p-dropdown>

    <div class="flex flex-row justify-between p-4">
      <p-button class="btn-color-green p-button-raised">ABOUT</p-button>
      <p-button class="btn-color-green p-button-raised" (click)="legislationChanged({value: {code: selectedLegislation.code}})">CONTENTS</p-button>
      <p-button class="btn-color-green p-button-raised" (click)="navigateToKeyIssues()">KEY ISSUES</p-button>
    </div>

    <div class="w-full">
      <ng-container *ngFor="let section of allSections | keyvalue: asIsOrder; let i = index">
        <p-panel [toggleable]="true" [collapsed]="i !== currentOpenSection">

          <ng-template pTemplate="header">
            <div class="flex flex-col">
              <p class="text-sm-12 text-sky-900 font-semibold cursor-pointer"
                 (click)="sectionClicked(section, i)">{{section.key}}</p>
              <!--<p class="text-xs font-semibold">{{getCategory(section)}}</p>-->
            </div>
          </ng-template>

          <div class="pl-4">
            <div class="cursor-pointer" *ngFor="let item of section.value">
              <ng-container *ngIf="!item.isLevel3">
                <p class="text-sm-12 p-2 border-solid border-b font-light text-sky-600" (click)="goToArticle(item)">
                  {{item.label}}
                </p>
              </ng-container>
            </div>
          </div>
        </p-panel>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #mainContent>
  <div *ngIf="showIndexPage && selectedLegislation" class="flex flex-col">
    <p-card class="w-[80%] m-auto">
      <div class="pl-[50px] p-5">
        <h1 class="text-[32px] font-semibold mb-1 text-center">{{selectedLegislation.name}}</h1>
        <h1 class="text-[32px] mb-10 text-center">{{selectedLegislation.code}}</h1>
        <p class="text-cyan-900 mb-10">{{selectedLegislation.lawDesc}}</p>

        <div class="mb-10">
          <p class="text-[28px] mb-5 font-semibold">Quick Access</p>
          <ng-container *ngFor="let section of allSections | keyvalue; let i = index">
            <div>
              <div class="flex flex-row gap-2">
                <p class="text-sm text-sky-900 font-semibold cursor-pointer"
                   (click)="sectionClicked(section, i)">{{section.key}}: </p>
                <!-- <p class="text-sm font-semibold">{{getCategory(section)}}</p>-->
              </div>


              <div class="pl-2 mb-4 flex flex-row flex-wrap">
                <div class="cursor-pointer" *ngFor="let item of section.value">
                  <ng-container *ngIf="!item.isLevel3">
                    <p class="border-solid border-b p-1 mr-2 text-sm-12 font-light text-sky-600"
                       (click)="goToArticle(item)">
                      {{item.articleNumber}}
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="mb-10">
          <div class="flex flex-row gap-2 mb-4">
            <p class="text-[28px] font-semibold cursor-pointer">Key Issues</p>
          </div>


          <div class="pl-2 mb-4 flex flex-row flex-wrap">
            <div class="cursor-pointer" *ngFor="let item of keyIssues">
              <ng-container>
                <p class="border-solid border-b p-1 mr-2 text-sm-12 font-light text-sky-600"
                   (click)="navigateToKeyIssues(item)">
                  {{item.title}}
                </p>
              </ng-container>
            </div>
          </div>
        </div>

        <div>
          <p class="text-[28px] mb-5 font-semibold">Table of Content</p>
          <ng-container *ngFor="let section of allSections | keyvalue; let i = index">
            <div>
              <div class="flex flex-row gap-2">
                <p class="text-md font-semibold text-sky-900 cursor-pointer"
                   (click)="sectionClicked(section, i)">{{section.key}}: </p>
                <!-- <p class="text-sm font-semibold">{{getCategory(section)}}</p>-->
              </div>
            </div>

            <div class="pl-2 mb-4 flex flex-col flex-wrap gap-2">
              <div class="cursor-pointer" *ngFor="let item of section.value">
                <ng-container *ngTemplateOutlet="chapters;context:{item}"></ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-card>
  </div>

  <div *ngIf="currentArticle && !showIndexPage" class="w-[80%] m-auto flex flex-col">
    <p class="text-sm text-sky-500 mb-4 pl-4 self-end cursor-pointer"
       (click)="legislationChanged({value: {code: selectedLegislation.code}})">Table of Content</p>
    <p-card>
      <div class="p-5 w-full" *ngIf="!showSectionDetails">
        <h1 class="text-3xl text-center font-bold">{{currentArticle.label}}</h1>
        <p-divider></p-divider>

        <div class="mt-8 pl-2">
          <p class="whitespace-pre-wrap" [innerHTML]="currentArticle.desc | urlSanitizer: 'html'"></p>
        </div>
        <p-divider></p-divider>


        <ng-container *ngIf="currentArticle['tagsArr']">
          <div class="flex flex-row flex-wrap gap-1 pt-1 pl-4 text-sm-12 text-gray-700">
            <ng-container *ngFor="let tag of currentArticle['tagsArr']">
              <p-chip class="mr-2" [label]="tag"></p-chip>
            </ng-container>
          </div>
          <p-divider></p-divider>
        </ng-container>

        <div class="flex flex-row justify-between" *ngIf="prevNextAndCurrent.next || prevNextAndCurrent.prev">
          <p class="cursor-pointer text-sm-12 text-sky-500 flex flex-row items-center"
             (click)="goToArticle(prevNextAndCurrent.prev)">
            <ng-container *ngIf="prevNextAndCurrent.prev?.id">
              <i class="pi pi-angle-left"></i>
              <span>{{prevNextAndCurrent.prev?.label}}</span>
            </ng-container>
          </p>

          <p class="cursor-pointer text-sm-12 text-sky-500 flex flex-row items-center"
             (click)="goToArticle(prevNextAndCurrent.next)">
            <ng-container *ngIf="prevNextAndCurrent.next?.id">
              <span>{{prevNextAndCurrent.next?.label}}</span>
              <i class="pi pi-angle-right"></i>
            </ng-container>
          </p>
        </div>
      </div>

      <div class="p-5 w-full" *ngIf="showSectionDetails">
        <div>
          <div class="mb-10">
            <hr>
            <p class="text-[32px] text-center m-2 font-semibold">{{currentSectionDetails.key}}</p>
            <hr>
          </div>
          <ng-container>

            <div class="pl-2 mb-4 flex flex-col flex-wrap gap-2">
              <div class="cursor-pointer" *ngFor="let item of currentSectionDetails.value">
                <ng-container *ngTemplateOutlet="chapters;context:{item}"></ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </p-card>
  </div>
</ng-template>

<ng-template #chapters let-item="item">
  <ng-container *ngIf="item.isLevel3">
    <p class="text-sm-12 pt-2 font-semibold">
      {{item.level3}}
    </p>
  </ng-container>

  <ng-container *ngIf="!item.isLevel3">
    <p class="border-solid border-b p-1 text-sm-12 font-light text-sky-600"
       (click)="goToArticle(item)">
      {{item.label}}
    </p>
  </ng-container>
</ng-template>
