<!--<app-header></app-header>-->
<section class="default-border">
  <div>
    <app-hero-banner *ngIf="toolDetails" [toolDetails]="toolDetails"></app-hero-banner>
  </div>

  <p-tabMenu [model]="items" [activeItem]="items[1]"></p-tabMenu>

  <ng-container *ngIf="currentTab === 'overview'">
    <app-video-overview class="mt-5" [toolId]="'tool-privacy-newsfeed'"></app-video-overview>
  </ng-container>

  <ng-container *ngIf="currentTab === 'tool'">
    <div class="pt-10 p-4" *ngIf="tags && paginatedNewsData">
      <div class="flex flex-wrap justify-start pb-5 gap-5">
        <div class="relative flex flex-row justify-center">
          <app-search-by-autocomplete *ngIf="legislationData?.length" [searchByOptions]="searchByCountry"
                                      class="inherit-width"
                                      [allDataForOptions]="legislationData"
                                      [global]="true"
                                      [preSelectedSearchBy]="searchByCountry[0]"
                                      [placeholderOverride]="'Search by Country or Region'"
                                      [hideSearchByOptions]="true"
                                      (optionClicked)="itemSelectedInDropdown($event)"
                                      (itemSearched)="countrySearched($event)"
                                      (resetAll)="reset()">
          </app-search-by-autocomplete>

          <p-progressSpinner class="item-center-n-relative"
                             *ngIf="!(legislationData?.length && (newsAndPodcastsData?.length || showError))">
          </p-progressSpinner>
        </div>

        <div class="relative flex flex-row justify-center">
          <app-search-by-autocomplete class="inherit-width"
                                      [searchByOptions]="[searchByForTag]"
                                      [allDataForOptions]="tags"
                                      [hideSearchByOptions]="true" [preSelectedSearchBy]="searchByForTag"
                                      [placeholderOverride]="'Search by Subject Area'"
                                      (optionClicked)="tagSelectedInDropdown($event)"
                                      (resetAll)="resetChild()"
                                      [preSelectedDropdown]="searchVal"
                                      (itemSearched)="itemSearched($event)">
          </app-search-by-autocomplete>
        </div>
      </div>


      <p-panel header="News and Podcasts">
        <div class="pb-5">
          <div class="flex flex-row flex-wrap gap-3 items-center">
            <div class="flex flex-row flex-wrap gap-2 items-center">
              <p-radioButton inputId="all" name="groupname" value="" [(ngModel)]="selectedType"
                             (onClick)="radioOptionClicked()"></p-radioButton>
              <label for="all">All</label>

              <p-radioButton inputId="news" name="groupname" value="News Story" [(ngModel)]="selectedType"
                             (onClick)="radioOptionClicked()"></p-radioButton>
              <label for="news">News</label>

              <p-radioButton inputId="podcasts" name="groupname" value="Podcast" [(ngModel)]="selectedType"
                             (onClick)="radioOptionClicked()"></p-radioButton>
              <label for="podcasts">Podcasts</label>
            </div>

            <div class="cursor-pointer">
              <p-chip [label]="sortOrder === 'Descending' ? 'Oldest' : 'Latest'" (click)="sortChanged()"
                      [icon]="sortOrder === 'Descending' ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'">
              </p-chip>
            </div>
          </div>


          <div *ngIf="websiteDetails && websiteDetails['insideSectionButton']"
               class="flex pr-4 flex-col items-center gap-2">
            <div class="flex flex-row items-center gap-2">
              <span class="text-sm-12 font-semibold" [innerHTML]="websiteDetails['insideSectionButton']"></span>
              <p-button iconPos="right" class="btn-color-green p-button-raised mr-2"
                        [label]="websiteDetails['insideSectionButton']"
                        (click)="joinFree()">
              </p-button>
            </div>
          </div>

        </div>

        <div class="mt-2 md:grid-cols-2 lg:grid-cols-3 grid-cols-1 auto-rows-fr grid gap-2"
             *ngIf="paginatedNewsData?.length; else noMessage">
          <div class="mb-3 md:basis-[49%] lg:basis-[49%] basis-full mr-2 font-light" *ngFor="let item of paginatedNewsData">
            <p-card>
              <ng-template pTemplate="header">
                <div class="pl-4 pr-1">
                  <div class="flex flex-row justify-between items-center">
                    <a rel="noopener" role="link" [href]="item['URL'] ? item['URL'] : 'javascript:void(0);'" target="_blank"
                       class="pt-2 text-lg font-bold text-cyan-700" style="height: 70px;" ellipsis
                       [title]="item.Headline">{{item.Headline}}
                    </a>
                  </div>

                  <p class="text-sm-12 text-gray-700 font-semibold">
                    {{item['Date'] | date}}{{item['Country'] ? ',' + ' ' + item['Country'] : ''}}
                    <span>
              <i title="News Story" *ngIf="item['Type'] === 'News Story'" class="pi pi-book"></i>
              <i title="Podcasts" *ngIf="item['Type'] !== 'News Story'" class="pi pi-volume-down"></i>
            </span>
                  </p>

                  <p class="text-sm-12" [innerHTML]="item['Domain']"></p>
                </div>
              </ng-template>

              <div class="flex flex-row flex-wrap gap-1 pt-1 pl-4 text-sm-12 text-gray-700">
                <ng-container *ngFor="let tag of item['tags']">
                  <p-chip [ngClass]="{'tag-selected': searchVal.trim() == tag.trim()}" class="mr-2 cursor-pointer"
                          [label]="tag" (click)="tagClicked(tag)"></p-chip>
                </ng-container>
              </div>

              <div class="flex flex-wrap p-2 pl-4 justify-start">
                <div class="flex flex-col basis-full mr-4 md:mr-2 lg:mr-2 text-sm-12" style="height: 170px;" ellipsis
                     [title]="item['Brief']">
          <span class="font-sans text-sm-12 mb-2 text-gray-500 break-words" [title]="item['Brief']"
                [innerHTML]="item['Brief']">
              </span>
                </div>
              </div>

              <div class="pl-4 pb-2">
                <p class="text-sm font-semibold">Quick links</p>
                <div class="flex flex-row flex-wrap gap-3">
                  <a role="link" [href]="item['URL']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
                    {{item['Type'] === 'News Story' ? 'Full story' : 'Podcast'}}
                  </a>

                  <a role="link" *ngIf="item['Type'] === 'Podcast'" [href]="item['Episode']" target="_blank"
                     class="pt-0 text-sm-12 text-sky-500">
                    Episode
                  </a>

                  <a role="link" *ngIf="item['Edit']" [href]="item['Edit']" target="_blank"
                     class="pt-0 text-sm-12 text-sky-500">
                    Edit
                  </a>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </p-panel>
    </div>

    <p-paginator [pageLinkSize]="3" *ngIf="filteredNewsData?.length" [rows]="pageSize"
                 [alwaysShow]="false"
                 [totalRecords]="filteredNewsData.length"
                 (onPageChange)="paginate($event)">
    </p-paginator>

    <p-progressSpinner class="item-center-n-relative"
                       *ngIf="!(tags && paginatedNewsData)">
    </p-progressSpinner>
  </ng-container>

  <ng-container *ngIf="currentTab === 'feedback'">
    <app-hub-form class="p-4" [formId]="'tools'" [buttonLabel]="'Submit'"
                  [existingDetails]="{'tool': toolId}"
                  [updateWithHiddenOrDisabledFields]="true"
                  [successMessage]="'Your feedback has been submitted'">
    </app-hub-form>
  </ng-container>
</section>

<ng-template #noMessage>
  <h1 class="mt-3 pl-4 text-red-700">No latest {{selectedType ? selectedType : 'News story/Podcast'}} found for this
    search criteria</h1>
</ng-template>

<!--<app-footer></app-footer>-->
