<!--TOP NAV-->
<div class="landing drop-shadow-sm pl-8 sticky z-10 top-0 left-0 flex bg-color justify-between w-[100%]">
  <div class="flex gap-5 items-center">
    <p class="link-white font-semibold" (click)="goToHome()">Collaboration Hub</p>
  </div>

  <div class="h-[60px] mt-3 mr-3">
    <p></p>
    <p-button class="h-[45px] btn-color-green btn-color-green--lg p-button-raised p-button-rounded"
              [label]="'Create free account'"
              (click)="signIn()">
    </p-button>
  </div>
</div>


<section *ngIf="landingPageDetails">

 <!-- HERO SECTION-->
  <div class="shadow-sm banner bg-color sm:pl-[10px] sm:pr-[10px] md:pl-[70px] md:pr-[70px] pl-[70px] pr-[70px] pt-[10px]">
    <div class="banner__content">
      <div *ngIf="landingPageDetails" class="banner__background">
      </div>

      <div class="banner-content">
        <div class="banner-content__inner">
          <div class="banner-content--text">
            <img [src]="landingPageDetails.logo" class="ml-[-13px]" style="height: 120px" alt="logo">
            <h1 class="text-white font-semibold" [innerHTML]="landingPageDetails.header"></h1>
            <h4 class="text-white" [innerHTML]="landingPageDetails.headerText"></h4>

            <div class="flex gap-5 items-start">
              <p-button [label]="landingPageDetails.signInButton" (click)="signIn()"
                        class="btn-color-green p-button-raised p-button-rounded">
              </p-button>

              <p-button class="h-[45px] btn-color-transparent p-button-raised p-button-rounded"
                        [label]="landingPageDetails.textUnderSignIn"
                        (click)="subscribe()">
              </p-button>
              <!-- <p class="link-white cursor-pointer font-semibold" (click)="subscribe()"
                  [innerHTML]="landingPageDetails.textUnderSignIn"></p>-->
            </div>
          </div>
          <div class="banner-content--video flex justify-center">
            <img [src]="'assets/hero.svg'" class="hero-image mt-[80px]" alt="landing hero image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--SUB TEXT AND APPS SHORTCUTS-->
  <div class="shadow-sm pt-[50px] pb-8 bg-gray-100 flex flex-col justify-center items-center">
    <div class="lg:w-[60%] md:w-[60%] sm:w-[90%] w-[90%]">
      <h2 class="text-[30px] line-clamp-2 text-slate-800 font-semibold text-center"
          [title]="landingPageDetails.subText" [innerHTML]="landingPageDetails.subText"></h2>
      <h3 class="text-[18px] mt-5 text-gray-600 text-center" [innerHTML]="landingPageDetails.subText3"></h3>

      <div class="flex gap-10 mt-5 justify-center p-4 flex-wrap">
        <div *ngFor="let option of landingPageNavigation" class="mr-5 w-[210px]">

          <div [title]="option.page" class="flex flex-col">
            <img class="mb-3" style="width:55px" [src]="'assets/icons/' + option.customIconLanding"
                 [alt]="option.customIconLanding"/>

            <span class="mb-3 text-[20px] font-semibold">{{option.page}}</span>

            <p class="mb-3 h-[100px] line-clamp-5" [title]="option.cardText" [innerHTML]="option.cardText"></p>

            <p (click)="optionClicked(option)" class="font-semibold link-color link-color--no-line"
               [innerHTML]="option.linkText + ' ' + '>'">
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!--CARDS-->
  <div class="flex flex-col pt-[50px]">
    <h2 class="text-[30px] text-slate-800 font-semibold text-center"
        [innerHTML]="landingPageDetails.cardSetionHeader"></h2>

    <div class="flex flex-wrap gap-10 p-4 mt-5 justify-center">
      <div class="cursor-pointer default-border w-[300px] h-[320px] rounded-[20px]" *ngFor="let item of cards"
           (click)="goToDetails(item)">
        <div class="relative mb-4 responsive-image-container rounded-t-[20px]">
          <img class="rounded-t-[20px] responsive-image" alt="tool-image" [src]="item.tableImage">
          <img class="p-[3px] left-[15px] bottom-[55px] absolute"
               alt="tool-logo-image" style="height: 40px" [src]="'assets/icons/' + item.icon">
        </div>

        <div class="flex flex-col pt-1 pb-3 pl-4 pr-4 h-[140px]">
          <span class="line-clamp-2 text-[20px] font-semibold mb-2" [title]="item.tableName"
                [innerHTML]="item.tableName"></span>

          <span class="line-clamp-4 text-sm-12 text-gray-800" [title]="item.tableDesc"
                [innerHTML]="item.tableDesc"></span>
        </div>

        <hr>

        <div class="pt-3 pb-3 pl-4 pr-4">
          <span class="font-semibold link-color link-color--no-line" [innerHTML]="item.action"></span>
        </div>
      </div>
    </div>
  </div>

  <!--COLLABS-->

  <div class="pt-[50px] pb-8 flex gap-5 justify-center items-center">
      <img [src]="landingPageDetails.collabImage" style="height: 400px" alt="collabImage">
      <div class="p-5 flex flex-col max-w-[400px]">
        <h2 class="text-[30px] text-slate-800 font-semibold mb-5"
            [innerHTML]="landingPageDetails['collabHeader'] ? landingPageDetails['collabHeader']
             : 'Collaborate and get your work done with Collabs'"></h2>
        <p class="mb-5" [innerHTML]="landingPageDetails.subText4"></p>
        <p-button class="h-[45px] btn-color-transparent btn-color-transparent--black p-button-raised p-button-rounded"
                  [label]="landingPageDetails.textUnderSignIn"
                  (click)="subscribe()">
        </p-button>
      </div>
  </div>

  <!--VIDEO-->
  <div *ngIf="!showVideo" class="flex justify-center mt-8 mb-8">
    <div class="h-[550px] relative">
      <img class="h-[500px] cursor-pointer rounded-[20px]" [src]="landingPageDetails.videoImage" alt="video-dummy">
      <div class="p-[3px] item-v-center-n-relative absolute">
        <img alt="video-logo-image" class="mb-3 rounded-[50%] h-[50px]" [src]="landingPageDetails.videoLogo">
        <h2 class="mb-3 text-[24px] font-semibold text-white" [innerHTML]="landingPageDetails.videoHeader"></h2>
        <p-button class="h-[45px] btn-color-transparent btn-color-transparent--lg p-button-raised p-button-rounded"
                  [label]="landingPageDetails.videoButtonText"
                  (click)="showVideo = true;">
        </p-button>
      </div>
    </div>
  </div>

  <div *ngIf="showVideo" class="video-plyr flex mt-8 mb-8 justify-center w-[100%]" id="player">
    <iframe class="h-[500px] w-[100%] sm:w-[100%] md:w-[100%] lg:w-[80%]"
            title="Node Zero video"
            loading="lazy"
            [src]="landingPageDetails.videoLink + '?autoplay=1' | urlSanitizer: 'resourceUrl'"
            allowfullscreen
            allowtransparency
            allow='autoplay'
    ></iframe>
  </div>


  <div class="mt-8 mb-8 flex flex-col items-center justify-center">
    <div class="lg:w-[60%] md:w-[60%] sm:w-[90%] w-[90%]">
      <h2 class="text-[30px] text-slate-800 font-semibold text-center" [innerHTML]="landingPageDetails.subHeader"></h2>
      <h3 class="text-[18px] mt-5 text-gray-600 text-center" [innerHTML]="landingPageDetails.subText5"></h3>
    </div>

    <!--TESTIMONIAL-->
    <div *ngIf="false">
      <p-carousel [contentClass]="'carousal-content'" [style]="{'background': 'white'}"
                  [value]="testimonials" [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000"
                  [circular]="true">
        <ng-template let-testimonial pTemplate="item">
          <div class="flex flex-col items-center gap-5">
            <img class="mt-3 mb-3 rounded-[50%] w-[100px] h-[100px] cursor-pointer block"
                 [src]="testimonial.image" alt="profile">
            <h1 class="text-[20px] text-slate-700" [innerHTML]="testimonial.title"></h1>
            <p [innerHTML]="testimonial.quote"></p>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="flex flex-col gap-2 mt-8 mb-8 justify-center items-center">
    <div class="flex gap-5 items-start">
      <p-button [label]="landingPageDetails.signInButton" (click)="signIn()"
                class="btn-color-green p-button-raised p-button-rounded">
      </p-button>

      <p-button class="h-[45px] btn-color-transparent btn-color-transparent--black p-button-raised p-button-rounded"
                [label]="landingPageDetails.textUnderSignIn"
                (click)="subscribe()">
      </p-button>
      <!-- <p class="link-white cursor-pointer font-semibold" (click)="subscribe()"
          [innerHTML]="landingPageDetails.textUnderSignIn"></p>-->
    </div>
  </div>
</section>

<!--FOOTER-->
<section *ngIf="landingPageDetails" class="p-5 mt-8 bg-[#0b1158]">
  <div class="p-5 flex flex-wrap justify-between gap-5">
    <div class="pl-10">
      <img src="assets/LogoWhite.png" class="mb-5" alt="logo" style="height:50px">
      <p class="text-sm-12 max-w-[300px] mt-2 whitespace-pre-wrap text-white"
         [innerHTML]="landingPageDetails.footerText"></p>
    </div>

    <div class="flex gap-5 p-5 basis-[50%] mt-6">
      <ul *ngFor="let key of footerKeys" class="flex flex-col gap-3 mr-[100px]">
        <li class="font-semibold text-white text-[24px]">{{key}}</li>
        <li class="text-white cursor-pointer" *ngFor="let footer of footerDetails[key]"
            (click)="footerClicked(footer)">{{footer.footerTitle}}</li>
      </ul>
    </div>
  </div>

  <div class="p-2 pl-4 pt-4 pr-4 basis-[40%] flex flex-row gap-5 items-start justify-end">
    <div class="cursor-pointer" *ngFor="let media of socialMediaDetails" (click)="socialMediaClicked(media)">
      <i class="pi" [ngClass]="media.socialIcon" style="font-size: 1.5rem; color: white; fill: white"></i>
    </div>
  </div>

  <div class="flex items-center justify-center gap-2">
    <p class="text-white" [innerHTML]="landingPageDetails.copyrightText"></p>
    <p class="text-white">|</p>
    <p class="link-color" [innerHTML]="landingPageDetails.privacyRoute" (click)="goToPrivacy()"></p>
  </div>

</section>
