<div class="landing drop-shadow-sm pl-4 sticky z-10 top-0 left-0 flex bg-white justify-between w-[100%]">
    <img src="assets/logoBeta.png" alt="logo" style="height:75px"
         class="cursor-pointer" (click)="goToHome()">

  <div class="mt-2">
    <p-menubar [model]="items"></p-menubar>
  </div>

  <div class="h-[50px] mt-3 mr-3">
    <p-button class="btn-color-green p-button-raised p-button-rounded"
              [label]="'Sign in'"
              (click)="signIn()">
    </p-button>
  </div>
</div>


<section *ngIf="landingPageDetails" class="pl-[60px] pr-[60px] pt-[20px]">

  <div class="banner">
    <div class="banner__content">
      <div *ngIf="landingPageDetails" class="banner__background">
      </div>

      <div class="banner-content">
        <div class="banner-content__inner">
          <div class="banner-content--text">
            <h1 class="" [innerHTML]="landingPageDetails.header"></h1>
            <h4 class="" [innerHTML]="landingPageDetails.headerText"></h4>

            <div class="flex flex-col gap-2">
              <p-button [label]="landingPageDetails.signInButton" (click)="signIn()"
                        class="btn-color-green p-button-raised p-button-rounded">
              </p-button>
              <p class="link-color" [innerHTML]="landingPageDetails.textUnderSignIn"></p>
            </div>
          </div>
          <div class="banner-content--video flex justify-center">
            <img [src]="landingPageDetails.gifLink">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p class="" [innerHTML]="landingPageDetails.subText"></p>

    <div class="flex gap-3 mt-5 flex-wrap justify-center p-4">
      <div *ngFor="let option of mainSectionOptions">

        <div [title]="option.sidebarLabel"
             class="flex items-center justify-left pr-5 pl-5 pt-2 pb-2 gap-2 cursor-pointer
            text-slate-600 hover:bg-slate-100 border border-solid border-slate-300 rounded-sm"
             (click)="optionClicked(option)">
        <span *ngIf="option.sidebarIconDesc === 'Icon' && (option.id !== 'more')" style="font-size: 1.2rem; width:25px">
          <fa-icon [icon]="getIcon(option)"></fa-icon>
        </span>
          <span *ngIf="option.id === 'more'" style="font-size: 1.2rem; width:25px">
           <fa-icon [icon]="getIcon(option)"></fa-icon>
        </span>
          <img style="width:25px" *ngIf="option.sidebarIconDesc === 'Image'" [src]="option.sidebarIcon" alt="side-bar-icon">
          <span class="">{{option.sidebarLabel}}</span>
        </div>
      </div>
    </div>


    <div class="mt-5 flex items-center justify-center">
      <h1 class="text-[20px] font-semibold" [innerHTML]="landingPageDetails.subHeader"></h1>
    </div>

    <div class="flex flex-wrap gap-10 p-4 mt-5 justify-center">
      <div class="cursor-pointer default-border w-[300px] h-[320px] rounded-[20px]" *ngFor="let item of cards"
           (click)="goToDetails(item)">
        <div class="relative mb-4 responsive-image-container rounded-t-[20px]">
          <img class="rounded-t-[20px] responsive-image" alt="tool-image" [src]="item.tableImage">
        </div>

        <div class="flex flex-col pt-1 pb-3 pl-4 pr-4 h-[140px]">
          <span class="line-clamp-2 text-[20px] font-semibold mb-2" [title]="item.tableName" [innerHTML]="item.tableName"></span>

          <span class="line-clamp-4 text-sm-12 text-gray-800" [title]="item.tableDesc" [innerHTML]="item.tableDesc"></span>
        </div>

        <hr>

        <div class="pt-3 pb-3 pl-4 pr-4">
          <span class="font-bold" [innerHTML]="item.action"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<p-divider></p-divider>

<!--FOOTER-->
<section *ngIf="landingPageDetails" class="p-5 flex flex-wrap justify-around gap-5">
  <div>
    <img src="assets/logoBeta.png" alt="logo" style="height:75px">
    <p class="text-sm-12 max-w-[300px]" [innerHTML]="landingPageDetails.subText"></p>
  </div>

  <div>
    <ul class="flex flex-col gap-2">
      <li class="font-semibold cursor-pointer" *ngFor="let footer of footerDetails"
          (click)="footerClicked(footer)">{{footer.footerTitle}}</li>
    </ul>
  </div>

  <div class="p-2 pl-4 pt-4 pr-4 basis-[40%] flex flex-row gap-5 items-start justify-start">
    <div class="cursor-pointer" *ngFor="let media of socialMediaDetails" (click)="socialMediaClicked(media)">
      <i class="pi" [ngClass]="media.socialIcon" style="font-size: 1.5rem"></i>
    </div>
  </div>
</section>
