<section class="default-border" *ngIf="collabDetails">
  <app-hero-banner [toolDetails]="collabDetails"></app-hero-banner>

  <p-tabMenu [model]="items" [activeItem]="currentMenuItem">></p-tabMenu>


  <ng-container *ngIf="currentTab === 'overview'">
    <app-video-overview class="mt-5" [toolId]="collabDetails.collabId"></app-video-overview>
  </ng-container>

  <ng-container *ngIf="currentTab === 'activities'">
    <div class="flex flex-col gap-5 p-4">
      <div class="default-border relative pt-2 pb-2 flex flex-col"
           *ngFor="let activity of activities">
         <span class="absolute right-5 top-2 cursor-pointer">
          <i class="pi pi-star" style="font-size: 1rem"></i>
        </span>
        <div class="flex gap-5 items-center justify-between mr-5 pr-4 pl-4">
          <div class="flex flex-col gap-1 mr-5 m-5">
            <p class="lg:text-[24px] text-[16px] sm:text-[16px] md:text-[16px] font-semibold" [title]="activity.title"
               [innerHTML]="activity.title"></p>
            <p class="text-slate-600 line-clamp-2" [title]="activity.desc" [innerHTML]="activity.desc"></p>
          </div>

          <div class="mr-5">
            <p-button icon="pi pi-sign-in" iconPos="right" class="btn-color-green p-button-raised p-button-rounded"
                      [label]="activity.buttonLabel"
                      (click)="goToActivity(activity)">
            </p-button>
          </div>
        </div>

        <div *ngIf="expansionState[activity.cinchyId]" class="mt-2 transition-custom pr-4 pl-4 m-5" [@inOutAnimation]>
          <div class="flex flex-col gap-5 mb-[20px]" *ngIf="activity.videoLink">
            <!--VIDEO SECTION-->
            <div class="w-[100%] m-auto">
              <div class="m-auto" id="player">
                <iframe
                  class="m-auto w-[100%] sm:w-[100%] md:w-[70%] lg:w-[60%] lg:h-[400px] md:h-[300px] sm:h-[200px] h-[200px]"
                  title="Node Zero video"
                  loading="lazy"
                  [src]="activity.videoLink | urlSanitizer: 'resourceUrl'"
                  allowfullscreen
                  allowtransparency
                  allow="autoplay"
                ></iframe>
              </div>
            </div>
          </div>

          <div>
            <p class="whitespace-pre-wrap" [innerHTML]="activity.steps"></p>
          </div>

        </div>

        <hr>

        <div class="flex items-center justify-center cursor-pointer m-2" (click)="toggleExpansions(activity)">
          <i *ngIf="expansionState[activity.cinchyId]" class="pi pi-angle-up" style="font-size: 1rem"></i>
          <i *ngIf="!expansionState[activity.cinchyId]" class="pi pi-angle-down" style="font-size: 1rem"></i>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentTab === 'messages'">
    <div *ngIf="!showNewMessage" class="mt-4 p-4 flex justify-end">
      <p-button class="btn-color-green p-button-raised p-button-rounded" icon="pi pi-plus" iconPos="left"
                [label]="'New Message'" (click)="showNewMessageForm()">
      </p-button>
    </div>

    <div class="p-4 m-4 default-border" *ngIf="showNewMessage">
      <div class="flex justify-between">
        <p class="font-semibold text-lg">New Message</p>
        <i class="pi pi-times cursor-pointer" (click)="showNewMessageForm()"></i>
      </div>

      <app-hub-form [formId]="'chat'" [buttonLabel]="'Submit'"
                    [existingDetails]="{'collab': collabDetails.collabId}"
                    [updateWithHiddenOrDisabledFields]="true"
                    [successMessage]="'Your message has been submitted'"
                    (submitClicked)="messageAdded($event)">
      </app-hub-form>
    </div>

    <div class="p-5">
      <h1 class="mb-2 pl-2 font-semibold text-lg">MESSAGES</h1>
      <ng-container *ngIf="collabMessages?.length">
        <!--<p-virtualScroller [value]="collabMessages" scrollHeight="1000px">
          <ng-template pTemplate="item" let-message>-->
        <div *ngFor="let message of collabMessages" class="default-border flex flex-col mr-4 mb-3 pb-4">
          <div class="flex justify-between">
            <div class="p-5 w-full">
              <div class="flex justify-between items-center gap-4">
                <div>
                  <p class="text-[20px] font-semibold text-gray-800" [innerHTML]="message.title"></p>
                  <span class="text-[12px] text-gray-500" *ngIf="message.edited">edited</span>
                </div>

                <div *ngIf="message.canUpdateOrDelete">
                  <p-tieredMenu #menu [model]="actionItems" [popup]="true" appendTo="body"></p-tieredMenu>
                  <i class="pi pi-ellipsis-h cursor-pointer" style="font-size: 1.2rem;"
                     (click)="showContext(menu, $event, message)"></i>
                </div>
              </div>

              <div class="flex gap-2 mb-2">
                <p class="text-[12px] text-gray-700" [innerHTML]="message.creatorName"></p>
                <p class="text-[12px] text-gray-500"
                   [innerHTML]="message.modifiedDate ? (message.modifiedDate | date) : (message.date | date)"></p>
              </div>
              <p class="text-sm text-gray-700" [innerHTML]="getMessageWithLinks(message.description)"></p>

              <p class="link-color" *ngIf="message.numberComments" (click)="getComments(message)">
                {{message.numberComments}} comments
              </p>

              <p class="link-color" *ngIf="!message.numberComments" (click)="getComments(message, true)">
               Reply
              </p>
            </div>
          </div>

          <!--COMMENTS SECTION-->
          <div class="pl-5 pr-4" *ngIf="commentsForMessages[message.id] && currentCommentsParent.id === message.id">
            <hr class="pb-2">
            <div class="flex justify-between">
              <p class="font-semibold text-lg"></p>
              <i class="pi pi-times cursor-pointer" (click)="closeComments()"></i>
            </div>
          </div>

          <div class="p-2 lg:mr-[150px] md:mr-[100px] sm:mr-[20px] mr-[20px]"
               *ngIf="commentsForMessages[message.id] && currentCommentsParent.id === message.id">
            <app-hub-form class="" [formId]="'comments'" [buttonLabel]="'Reply'"
                          [existingDetails]="{'collab': collabDetails.collabId, 'msgId': message.id}"
                          [updateWithHiddenOrDisabledFields]="true"
                          [successMessage]="'Your message has been submitted'"
                          (submitClicked)="commentAdded($event, false)">
            </app-hub-form>

            <!-- <p-virtualScroller [value]="commentsForMessages[message.id]" scrollHeight="500px">
               <ng-template pTemplate="item" let-comment>-->
            <div class="pr-5 overflow-auto" [ngClass]="{'h-[400px]': commentsForMessages[message.id].length}">
              <div *ngFor="let comment of commentsForMessages[message.id]">
                <div class="flex flex-col ml-8 mr-8 mt-4 mb-4 p-4 mb-2 default-border">
                  <div class="flex justify-between items-center">
                    <div class="flex gap-2 mb-2">
                      <p class="text-[12px] text-gray-700" [innerHTML]="comment.creatorName"></p>
                      <p class="text-[12px] text-gray-500"
                         [innerHTML]="comment.modifiedDate ? (comment.modifiedDate | date) : (comment.date | date)"></p>
                    </div>

                    <div *ngIf="comment.canUpdateOrDelete">
                      <p-tieredMenu #commentMenu [model]="actionItems" [popup]="true" appendTo="body"></p-tieredMenu>
                      <i class="pi pi-ellipsis-h cursor-pointer" style="font-size: 1.2rem;"
                         (click)="showContext(commentMenu, $event, comment, true)"></i>
                    </div>
                  </div>
                  <p class="text-sm text-gray-700" [innerHTML]="getMessageWithLinks(comment.description)"></p>

                </div>
              </div>
            </div>
            <!-- </ng-template>
           </p-virtualScroller>-->

          </div>
        </div>
        <!-- </ng-template>
       </p-virtualScroller>-->
      </ng-container>
    </div>
  </ng-container>
</section>

<p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
          *ngIf="currentMessage && showEditDialog" [header]="'Edit' + ' ' + currentMessage.title"
          [(visible)]="showEditDialog" appendTo="body">
  <app-hub-form class="p-4" [formId]="'chat'" [buttonLabel]="'Update'"
                [existingDetails]="{'collab': collabDetails.collabId, title: currentMessage.title,
                message: currentMessage.description, id: currentMessage.id}"
                [updateWithHiddenOrDisabledFields]="true"
                [successMessage]="'Your message has been updated'"
                (submitClicked)="messageAdded($event, true)">
  </app-hub-form>
</p-dialog>

<p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
          *ngIf="currentComment && showEditCommentDialog" [header]="'Edit Your Reply'"
          [(visible)]="showEditCommentDialog" appendTo="body">
  <app-hub-form class="" [formId]="'comments'" [buttonLabel]="'Update'"
                [existingDetails]="{'collab': collabDetails.collabId, 'msgId': currentComment.parentId, id: currentComment.id,
                message: currentComment.description}"
                [updateWithHiddenOrDisabledFields]="true"
                [successMessage]="'Your reply has been updated'"
                (submitClicked)="commentAdded($event, true)">
  </app-hub-form>
</p-dialog>
