<section>
  <div class="banner">
    <div class="banner__content">
      <div class="banner__background">
        <img class="banner__background" alt="Node Zero Image" src="assets/background.png">
      </div>
      <div class="banner-content">
        <div class="banner-content__inner">
          <div class="banner-content--text">
            <h1 class="mb-6" [innerHTML]="bannerDetails['Header']"></h1>
            <h4 [innerHTML]="bannerDetails['HeaderDesc']"></h4>
            <h5 class="underline text-sky-500"><a [href]="bannerDetails['HeaderLink']">{{bannerDetails['HeaderLinkLabel']}}</a> </h5>
          </div>
          <div class="video-plyr banner-content--video" id="player">
            <iframe
              title="Node Zero video"
              [src]="bannerDetails['HeaderVideoLink'] | urlSanitizer: 'resourceUrl'"
              allowfullscreen
              allowtransparency
              allow="autoplay"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
