<section>

  <div class="flex flex-row flex-wrap items-start justify-between gap-4 pl-4 pr-4">
    <app-search-by-autocomplete *ngIf="childFilteredData?.length && selectedOption && !currentRegulator"
                                class="inherit-width "
                                [allDataForOptions]="childFilteredData"
                                [searchByOptions]="searchByOptions"
                                [preSelectedSearchBy]="searchByOptions[0]"
                                [hideSearchByOptions]="true"
                                [resetOnChange]="true"
                                (optionClicked)="itemSelectedInDropdown($event)"
                                (searchBySelected)="searchBySelected($event)"
                                (resetAll)="resetChild()"
                                (itemSearched)="itemSearched($event)">
    </app-search-by-autocomplete>
  </div>

  <section class="p-4 mt-2 md:grid-cols-2 lg:grid-cols-2 grid-cols-1 auto-rows-fr grid gap-2"
           *ngIf="paginatedRegulatorData?.length; else noMessage">
    <div class="mb-3 basis-[49%] mr-2 font-light" *ngFor="let item of paginatedRegulatorData">
      <p-card>
        <ng-template pTemplate="header">
          <div class="pl-4">
            <div class="flex pr-4 flex-row justify-between items-center">
              <a rel="noopener" role="link" [href]="item['Entity Url']" target="_blank"
                 class="pt-2 text-lg font-bold text-cyan-700">{{item.Entity}}
              </a>
            </div>
            <p class="text-sm-12 text-gray-700 font-semibold">{{item['Foreign Name']}}</p>
            <p class="text-sm-12 text-gray-700">{{item['Short Name']}}</p>
          </div>

          <div class="flex flex-row flex-wrap gap-1 pt-1 pl-4 text-sm-12 text-gray-700">
            <ng-container *ngFor="let tag of item['tags']">
              <p-chip [ngClass]="{'selected-chip': isSelectedFilter(tag)}" class="mr-2" [label]="tag"></p-chip>
            </ng-container>
          </div>
        </ng-template>

        <div class="flex flex-wrap p-2 pl-4 justify-start">
          <div class="flex flex-col lg:basis-[22%] md:basis-[30%] basis-[45%] mr-3 md:mr-2 lg:mr-2"
               *ngFor="let key of allKeys">
            <span class="font-sans mr-1 text-sm-12 text-black">{{key}}: </span>
            <span class="font-sans mb-2 text-sm-12 text-gray-500" [ngClass]="{'text-blue-600' : key === 'Twitter'}"
                  [innerHTML]="item[key] || '-'">
        </span>
          </div>
        </div>

        <div class="pl-4 pb-2">
          <p class="text-sm font-semibold">Actions</p>
          <div class="flex flex-row flex-wrap gap-3">
            <a role="link" [href]="item['Entity Url']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
              View
            </a>

            <a role="link" [href]="item['Twitter']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
              Twitter
              <!--  <i class="pi pi-twitter text-xs"></i>-->
            </a>

            <a *ngIf="item['Bookmark']" role="link" [href]="item['Bookmark']" target="_blank"
               class="pt-0 text-sm-12 text-sky-500">
              Bookmark
            </a>

            <a role="link" [href]="item['Edit']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
              Edit
            </a>

            <a (click)="share(item)" target="_blank" class="cursor-pointer pt-0 text-sm-12 text-sky-500">
              Share
            </a>
          </div>
        </div>
      </p-card>
    </div>
  </section>

</section>

<ng-template #noMessage>
  <h1 class="pl-4 text-red-700">No Regulators found for this search criteria</h1>
</ng-template>

<p-paginator [pageLinkSize]="3" *ngIf="filteredRegulatorData?.length" [rows]="pageSize"
             [alwaysShow]="false"
             [totalRecords]="filteredRegulatorData.length"
             (onPageChange)="regulatorPaginate($event)">
</p-paginator>

<p-dialog *ngIf="shareItem" [header]="'Share ' + shareItem['Short Name']" appendTo="body" [(visible)]="displayShare">
  <div class="bg-black">
    <share-buttons [theme]="'modern-light'"
                   [include]="['facebook','twitter','linkedin','email']"
                   [show]="5"
                   [showText]="false"
                   [url]="currentNewsUrl"
                   [title]="'Sharing this privacy-related information'"
                   [description]="shareDesc"
                   [autoSetMeta]="false"
                   [image]="'https://static.wixstatic.com/media/9eeb4e_2b984e43579b4048828ec40edb0b291e~mv2.png'"
    ></share-buttons>
  </div>
</p-dialog>
