<p-progressSpinner class="item-center-n-relative"
                   *ngIf="!bookmarks">
</p-progressSpinner>

<section>
  <app-common-header [headerDetails]="toolsHeaderDetails"></app-common-header>

  <div class="flex flex-col gap-5">
    <div class="default-border pt-2 pb-2 pr-4 pl-4 flex flex-col"
         *ngFor="let bookmark of bookmarks">
      <div class="flex gap-5 items-center mr-5">
        <span class="sm:hidden md:hidden lg:block hidden">
          <i class="pi pi-bookmark-fill" style="font-size: 2rem"></i>
        </span>

        <div class="flex flex-col gap-1 mr-5 m-5">
          <p class="lg:text-[24px] text-[16px] sm:text-[16px] md:text-[16px] font-semibold" [title]="bookmark.title"
             [innerHTML]="bookmark.title"></p>
          <p class="text-slate-600 line-clamp-2" [title]="bookmark.desc" [innerHTML]="bookmark.desc"></p>
        </div>
      </div>

      <div class="flex justify-between mr-5 lg:ml-[70px] sm:pl-[20px] md:pl-[20px] lg:pl-[0px] pl-[20px]">
        <div class="flex flex-col max-w-[450px] gap-1 mr-5">
          <p class="">{{bookmark.table}}</p>
          <p class="text-slate-600">{{bookmark.domain}}</p>
        </div>

        <div class="mr-5">
          <p-button icon="pi pi-sign-in" iconPos="right" class="btn-color-green p-button-raised p-button-rounded"
                    [label]="bookmark.buttonLabel"
                    (click)="goToBookmark(bookmark)">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</section>
