<div class="flex">
  <div class="hub-home-container">
    <div class="ml-[11px] flex gap-5 items-center z-10 bg-white">
      <i class="pi pi-book z-10 bg-white text-gray-400" style="font-size: 1.2rem"></i>

      <div>
        <p>Newsfeed</p>
      </div>
    </div>

    <div class="vertical-bar"></div>

    <div class="ml-[11px] flex gap-5 items-center">
      <i class="pi pi-comments mt-[25px] z-10 bg-white text-gray-400" style="font-size: 1.2rem"></i>

      <div class="home-content">
        <p>CONTENT</p>
      </div>
    </div>
  </div>


  <app-hub-rightbar></app-hub-rightbar>
</div>
