<p-progressSpinner class="item-center-n-relative"
                   *ngIf="!newsFeed">
</p-progressSpinner>

<div class="flex">
  <div class="hub-home-container">
    <div class="ml-[11px] flex gap-5 items-center z-10 bg-white">
      <i class="pi pi-book z-10 bg-white text-gray-400" style="font-size: 1.2rem"></i>

      <div>
        <p [innerHTML]="headerDetails.header"></p>
      </div>
    </div>

    <div class="vertical-bar"></div>

    <div class="ml-[11px] flex gap-5 items-center" *ngFor="let item of newsFeed">
      <fa-icon class="mt-[25px] z-10 bg-white text-gray-400" style="font-size: 1.2rem"
               [icon]="getIcon(item)"></fa-icon>


      <div class="home-content p-5">
        <div class="creator-details flex gap-4 mb-5 pb-4">
          <img class="rounded-[50%]" style="width: 50px; height: 50px" [src]="'data:image/png;base64,' + item.photo"
               alt="photo">
          <div class="flex flex-col">
            <span class="text-sky-700">{{item.creatorName}}</span>
            <span class="text-sm-12 text-gray-500">Created this on {{item.date | date}}</span>
          </div>
        </div>


        <div class="line-clamp-7">
          <p class="text-sm text-gray-800" [innerHTML]="item.description">
          </p>
        </div>

      <!--  <div class="w-[100%] flex gap-5 mb-2 m-2" *ngIf="item.link1">
          <a class="text-cyan-700 text-sm-12" target="_blank" [href]="item.link1">{{item.link1AnchorText}}</a>
          <a class="text-cyan-700 text-sm-12" target="_blank" [href]="item.link2">{{item.link2AnchorText}}</a>
        </div>-->

        <div class="w-[100%]" *ngIf="item.tags">
          <div class="flex flex-row flex-wrap gap-1 pt-1 text-sm-12 text-gray-700">
            <ng-container *ngFor="let tag of getTags(item)">
              <p-chip class="mr-2" [label]="tag"></p-chip>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-hub-rightbar class="hidden lg:block"
    [userDetails]="userDetails" [footerDetails]="footerDetails"
                    [socialMediaDetails]="socialMediaDetails"></app-hub-rightbar>
</div>
