<!--<app-header></app-header>-->
<section class="default-border flex w-full justify-center flex-col home-container">

  <div class="video">
    <app-hero-banner *ngIf="toolDetails" [toolDetails]="toolDetails"></app-hero-banner>
  </div>

  <p-tabMenu [model]="items" [activeItem]="currentMenuItem"></p-tabMenu>

  <ng-container *ngIf="currentTab === 'overview'">
    <app-video-overview class="mt-5" [toolId]="toolId"></app-video-overview>
  </ng-container>

  <ng-container *ngIf="currentTab === 'tool'">
    <div class="flex justify-end">
      <span class="pl-4 pr-4 pt-2 font-sans text-sky-500 cursor-pointer text-sm-12 mb-2" *ngIf="currentRegulator"
            (click)="showAllRegulators()">See all Regulators
     </span>

      <span class="pl-4 pr-4 pt-2 font-sans text-sky-500 cursor-pointer text-sm-12 mb-2" *ngIf="currentRegulator"
            (click)="goToLaws()">Go to Laws
     </span>
    </div>

    <div class="p-4 relative flex flex-col justify-center" *ngIf="legislationData?.length && !currentRegulator">
      <app-search-by-autocomplete class="inherit-width"
                                  [searchByOptions]="searchByOptions"
                                  [allDataForOptions]="legislationData"
                                  [global]="true"
                                  [showSearchButton]="true"
                                  [preSelectedSearchBy]="searchByOptions[0]"
                                  [placeholderOverride]="'Search by Country or Region'"
                                  [hideSearchByOptions]="true"
                                  (optionClicked)="itemSelectedInDropdown($event)"
                                  (searchBySelected)="searchBySelected($event)"
                                  (itemSearched)="itemSearched($event)"
                                  (resetAll)="reset()">
      </app-search-by-autocomplete>

      <div *ngIf="false" class="flex flex-wrap gap-2.5 mt-3">
        <div *ngFor="let tag of top20Tags" (click)="topTagSelected(tag)">
          <p-chip class="cursor-pointer" [ngClass]="{'selected-chip': isSelectedFilter(tag)}"
                  [label]="tag.Tags"></p-chip>
        </div>
      </div>

      <p-progressSpinner class="item-center-n-relative"
                         *ngIf="!(regulatorData?.length || showError)">
      </p-progressSpinner>
    </div>


    <div *ngIf="regulatorData?.length" class="">
      <p-panel header="Regulators">
        <app-regulators [selectedOption]="selectedOption" [regulatorData]="regulatorData"
                        [currentRegulator]="currentRegulator"
                        [tags]="tags"
                        (resetTags)="resetTags()">
        </app-regulators>
      </p-panel>
    </div>
  </ng-container>

  <ng-container *ngIf="currentTab === 'feedback'">
    <app-hub-form *ngIf="isSignedIn" [formId]="'tools'" [buttonLabel]="'Submit'"
                  [existingDetails]="{'tool': toolId}"
                  [updateWithHiddenOrDisabledFields]="true"
                  [successMessage]="'Your feedback has been submitted'">
    </app-hub-form>

    <app-sign-in class="p-4" *ngIf="!isSignedIn" [message]="signInMessage"></app-sign-in>

  </ng-container>
</section>
<!--<app-footer></app-footer>-->
