<section class="p-4 mt-2 md:grid-cols-2 lg:grid-cols-2 grid-cols-1 auto-rows-fr grid gap-2"
         *ngIf="paginatedRegulatorData?.length; else noMessage">
  <div class="mb-3 basis-[49%] mr-2 font-light" *ngFor="let item of paginatedRegulatorData">
    <p-card>
      <ng-template pTemplate="header">
        <div class="pl-4">
          <div class="flex flex-row justify-between items-center">
            <a rel="noopener" role="link" [href]="item['Entity Url']" target="_blank"
               class="pt-2 text-lg font-bold text-cyan-700">{{item.Entity}}
            </a>
          </div>
          <p class="text-sm-12 text-gray-700 font-semibold">{{item['Foreign Name']}}</p>
          <p class="text-sm-12 text-gray-700">{{item['Short Name']}}</p>
        </div>

        <div class="flex flex-row flex-wrap gap-1 pt-1 pl-4 text-sm-12 text-gray-700">
          <ng-container *ngFor="let tag of item['tags']">
            <p-chip class="mr-2" [label]="tag"></p-chip>
          </ng-container>
        </div>
      </ng-template>

      <div class="flex flex-wrap p-2 pl-4 justify-start">
        <div class="flex flex-col lg:basis-[22%] md:basis-[30%] basis-[45%] mr-3 md:mr-2 lg:mr-2"
             *ngFor="let key of allKeys">
          <span class="font-sans mr-1 text-sm-12 text-black">{{key}}: </span>
          <span class="font-sans mb-2 text-sm-12 text-gray-500" [ngClass]="{'text-blue-600' : key === 'Twitter'}"
                [innerHTML]="item[key] || '-'">
        </span>
        </div>
      </div>

      <div class="pl-4 pb-2">
        <p class="text-sm font-semibold">Quick links</p>
        <div class="flex flex-row flex-wrap gap-3">
          <a role="link" [href]="item['Twitter']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
            Twitter
          <!--  <i class="pi pi-twitter text-xs"></i>-->
          </a>

          <a role="link" [href]="item['Entity Url']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
            Website
          </a>

          <a role="link" *ngIf="item['Edit']" [href]="item['Edit']" target="_blank" class="pt-0 text-sm-12 text-sky-500">
            Edit
          </a>
        </div>
      </div>
    </p-card>
  </div>
</section>

<ng-template #noMessage>
  <h1 class="pl-4 text-red-700">No Regulators present for this Country or Region</h1>
</ng-template>

<p-paginator *ngIf="filteredRegulatorData?.length" [rows]="pageSize"
             [totalRecords]="filteredRegulatorData.length"
             (onPageChange)="regulatorPaginate($event)">
</p-paginator>
