.right-bar-container {
  flex: 0 0 310px;
  margin: 0 6px 0 24px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  min-width: 0;
  position: sticky;
  top: 100px;
  width: 310px;

  .right-bar {
    border: 1px solid rgb(218, 220, 224);
  }

}
