<div class="right-bar">

  <div class="flex p-4 justify-between">
    <div class="flex flex-col">
      <span>Imroz Khan</span>
      <span class="text-sm-12 text-gray-400">Joined a day ago</span>
    </div>

    <div>
      <img class="w-[50px] h-[50px] cursor-pointer block" src="assets/bg.png" alt="profile">
    </div>
  </div>

  <p-divider></p-divider>

  <div class="flex flex-col p-4">
    <div class="flex flex-col justify-end text-right mb-5">
      <span>© Data Collaboration Alliance 2021</span>
    </div>

    <div>
      <ul class="flex flex-col gap-2">
        <li class="font-semibold">About us</li>
        <li class="font-semibold">Infrastructure</li>
        <li class="font-semibold">Community</li>
        <li class="font-semibold">Leadership</li>
        <li class="font-semibold">Advisors</li>
        <li class="font-semibold">Partners</li>
      </ul>
    </div>
  </div>

  <div class="basis-[40%] flex flex-col items-start justify-start bg-black">
    <!--  <share-buttons [theme]="'modern-light'"
                     [include]="['facebook','twitter','linkedin','email']"
                     [show]="5"
                     [showText]="false"
                     [url]="currentUrl"
      ></share-buttons>-->

    <div id="comp-k2g8ahxo" class="_2O-Ry focus-within p-2">
      <ul class="xb9fU flex flex-row flex-wrap gap-6" aria-label="Social Bar">
        <li id="dataItem-k2g8ahza2-comp-k2g8ahxo" class="_3lu8e focus-within"><a data-testid="linkElement"
                                                                                 href="https://www.linkedin.com/company/data-collaboration-alliance/"
                                                                                 target="_blank"
                                                                                 class="_26AQd focus-within">
          <div id="img_0_comp-k2g8ahxo" class="_1-6YJ uWpzU"
               data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahza2-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;f61c7a3b4b4947b28511a25034973383.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
               data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
               data-image-zoomed="" data-has-ssr-src=""
               data-src="https://static.wixstatic.com/media/f61c7a3b4b4947b28511a25034973383.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/f61c7a3b4b4947b28511a25034973383.webp">
            <img
              src="https://static.wixstatic.com/media/f61c7a3b4b4947b28511a25034973383.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/f61c7a3b4b4947b28511a25034973383.webp"
              alt="LinkedIn - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
          </div>
        </a></li>
        <li id="dataItem-k2g8ahza-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                   href="https://twitter.com/datacollab"
                                                                   target="_blank" class="_26AQd">
          <div id="img_1_comp-k2g8ahxo" class="_1-6YJ uWpzU"
               data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahza-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;c4392d634a0148fda8b7b2b0ad98293b.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
               data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
               data-image-zoomed="" data-has-ssr-src=""
               data-src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.webp">
            <img
              src="https://static.wixstatic.com/media/c4392d634a0148fda8b7b2b0ad98293b.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/c4392d634a0148fda8b7b2b0ad98293b.webp"
              alt="Twitter - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
          </div>
        </a></li>
        <li id="dataItem-ke4qgxyz-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                   href="https://www.youtube.com/channel/UCjgorj6y-Va9iWUkOK35vaA/"
                                                                   target="_blank" class="_26AQd">
          <div id="img_2_comp-k2g8ahxo" class="_1-6YJ uWpzU"
               data-image-info="{&quot;containerId&quot;:&quot;dataItem-ke4qgxyz-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e9bb463a1bc4434c9d33b81b1fe937f5.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
               data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
               data-image-zoomed="" data-has-ssr-src=""
               data-src="https://static.wixstatic.com/media/e9bb463a1bc4434c9d33b81b1fe937f5.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e9bb463a1bc4434c9d33b81b1fe937f5.webp">
            <img
              src="https://static.wixstatic.com/media/e9bb463a1bc4434c9d33b81b1fe937f5.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e9bb463a1bc4434c9d33b81b1fe937f5.webp"
              alt="YouTube" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%"></div>
        </a></li>
        <li id="dataItem-k2g8ahz9-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                   href="https://www.facebook.com/datacollaboration"
                                                                   target="_blank" class="_26AQd">
          <div id="img_3_comp-k2g8ahxo" class="_1-6YJ uWpzU"
               data-image-info="{&quot;containerId&quot;:&quot;dataItem-k2g8ahz9-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;e0678ef25486466ba65ef6ad47b559e1.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
               data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
               data-image-zoomed="" data-has-ssr-src=""
               data-src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp">
            <img
              src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/e0678ef25486466ba65ef6ad47b559e1.webp"
              alt="Facebook - White Circle" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%">
          </div>
        </a></li>
        <li id="dataItem-ke4qgxyy-comp-k2g8ahxo" class="_3lu8e"><a data-testid="linkElement"
                                                                   href="https://www.instagram.com/datacollab/"
                                                                   target="_blank" class="_26AQd">
          <div id="img_4_comp-k2g8ahxo" class="_1-6YJ uWpzU"
               data-image-info="{&quot;containerId&quot;:&quot;dataItem-ke4qgxyy-comp-k2g8ahxo&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;da7ef6dd1302486c9a67baebe4b364bc.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
               data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false"
               data-image-zoomed="" data-has-ssr-src=""
               data-src="https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp">
            <img
              src="https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png/v1/fill/w_72,h_72,al_c,q_85,usm_0.66_1.00_0.01/da7ef6dd1302486c9a67baebe4b364bc.webp"
              alt="Instagram" style="width:36px;height:36px;object-fit:cover;object-position:50% 50%"></div>
        </a></li>
      </ul>
    </div>
  </div>
</div>
