<div [ngStyle]="{'width': isExpanded ? isMobileOrTab ? '100%' : '250px' : '60px'}"
     class="hub-sidebar overflow-y-auto">
  <div class="flex items-center justify-left p-5 mb-10 mt-5 gap-4 h-[42px]">
    <i class="pi pi-bars cursor-pointer" style="font-size: 1.2rem" (click)="toggleSidebar()"></i>
    <img @fadeSlideInOut *ngIf="isExpanded" src="assets/logoBeta.png" alt="logo" style="height:75px"
         class="cursor-pointer" (click)="goToHome()">
  </div>
  <div *ngIf="isExpanded" class="flex justify-start mb-5 pl-5">
    <button pButton pRipple type="button" [label]="collaborationBtn.sidebarLabel"
            class="p-button-outlined p-button-success p-button-rounded" (click)="goToCollabs()">
      <img class="mr-4" (click)="goToCollabs()" [src]="collaborationBtn.sidebarIcon" alt="logo" style="height: 20px">
    </button>

  </div>

  <div *ngIf="!isExpanded" class="flex justify-start mb-5 pl-5 cursor-pointer">
    <img (click)="goToCollabs()" [src]="collaborationBtn.sidebarIcon" alt="logo" style="height: 23px">
  </div>


  <div class="flex flex-col">
    <div *ngFor="let option of mainSectionOptions">

      <div [title]="option.sidebarLabel"
        class="flex items-center justify-left pr-5 pl-5 pt-4 pb-4 gap-5 cursor-pointer text-slate-600 hover:bg-slate-100"
        [ngClass]="{'border-r border-current bg-slate-200 text-slate-900': currentOptionSelected.sidebarRoute === option.sidebarRoute}"
        (click)="optionClicked(option)">
        <span *ngIf="option.sidebarIconDesc === 'Icon' && (option.id !== 'more')" style="font-size: 1.2rem; width:25px">
          <fa-icon [icon]="getIcon(option)"></fa-icon>
        </span>
        <span *ngIf="option.id === 'more' && !showMore" style="font-size: 1.2rem; width:25px">
           <fa-icon [icon]="getIcon(option)"></fa-icon>
        </span>
        <span *ngIf="option.id === 'more' && showMore" class="pi" [ngClass]="option.collapseIcon" style="font-size: 1.2rem; width:25px">
           <fa-icon [icon]="getIcon(option, true)"></fa-icon>
        </span>
        <img style="width:25px" *ngIf="option.sidebarIconDesc === 'Image'" [src]="option.sidebarIcon" alt="side-bar-icon">
        <span *ngIf="isExpanded" class="">{{option.sidebarLabel}}</span>
      </div>
    </div>

    <ng-container *ngIf="showMore">
      <div *ngFor="let option of moreSectionOptions">
        <div
          class="flex items-center justify-left pr-5 pl-8 pt-2 pb-2 gap-5 cursor-pointer text-slate-600 hover:bg-slate-100"
          [ngClass]="{'border-r border-current bg-slate-200 text-slate-900': currentOptionSelected.sidebarRoute === option.sidebarRoute}"
          (click)="optionClicked(option)">
          <i *ngIf="option.sidebarIconDesc === 'Icon'" class="pi" [ngClass]="option.sidebarIcon"
             style="font-size: 1.2rem; width:25px"></i>
          <img style="width:25px" *ngIf="option.sidebarIconDesc === 'Image'" [src]="option.sidebarIcon"
               alt="side-bar-icon">
          <span *ngIf="isExpanded" class="text-sm-12">{{option.sidebarLabel}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
