/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// @import '~ngx-sharebuttons/themes/default';


html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}
app-header{
  z-index: 999999;
}

app-home {
  z-index: 99999;
}

app-home, app-pipps {
  flex: 1 0 auto;
}

app-pipps {
  min-height: 90vh;
}

.item-center-n-relative {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.text-sm-12 {
  font-size: 0.83rem;
}

// Override styles
p-autocomplete, .p-autocomplete {
  width: 100%;
}

.inherit-width {
  .p-autocomplete {
    width: 35vw;

    @media (max-width: 697px) {
      width: 80vw;
      margin-top: 10px;
    }
  }
}

.p-card-body, .p-card-content {
  padding: 0 !important;
  margin: 0;
}

.p-card {
  height: 100%;
}

app-avatars {
  .p-avatar.p-avatar-xl {
    width: 6rem !important;
    height: 6rem !important;
    font-size: 2rem;
  }
}

p-button.btn-color {
  .p-button {
    background-color: #4A0CDA;
    border: #4A0CDA;

    &:enabled:hover {
      background-color: #4A0CDA;
      opacity: 0.8;
      color: white;
    }
  }

  &-green{
    .p-button {
      background-color: #00b529;
      border: #00b529;

      &:enabled:hover {
        background-color: #00b529;
        opacity: 0.8;
        color: white;
      }
    }
  }
}

.p-accordion-toggle-icon {
  color: #164f63;
}

.p-carousel-items-container {
  height: 100%;
}

.p-carousel-content {
  background: #111827;
}

.p-chip .p-chip-text {
  font-size: 12px;
  line-height: 1;
}

.pipps-container {
  .p-sidebar .p-sidebar-header + .p-sidebar-content {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  p-panel {
    .p-panel .p-panel-header {
      border: 0.5px solid #dee2e6;
      border-left: 0;
      border-right: 0;
      background: white;
    }

    .p-panel-content {
      padding-top: 5px;
    }

    .pi {
      font-size: 0.7rem;
    }
  }
}

app-avatars {
  .p-avatar.p-avatar-lg {
    width: 7rem;
    height: 7rem;
    font-size: 1.5rem;

    @media (max-width: 992px) {
      width: 5rem;
      height: 5rem;
    }
  }
}

app-footer {
  fa-icon {
    font-size: 28px;
  }
}

.pipps-container {
  .p-dropdown {
    width: 100%;
  }
}
